[2020-01-10 13:55] cwsmith opened #2 "Accounting for process count differences when coupling xgc and gene"
Given that there are significantly more XGC processes than GENE processes, and that a single 'file' is exchanged between the two applications (as opposed to one file per process), how does a given XGC (GENE) process know which data it needs to read from an Adios2 'file' produced by GENE (XGC)?  We also need to understand which processes perform the writing to the Adios2 'file' and which data they

[2020-01-14 20:33] #2 closed, assigned to nobody

[2020-01-16 15:23] Damilare06 opened #3 "ADIOS2 C++ - Fortran API considerations"
Hello Eric,

Are there be any special considerations when attempting to transfer data from the GENE & XGC executables (using the Fortran Adios2 APIs) to the coupling executable (using the C++ Adios2 APIs)?

[2020-01-21 21:29] Damilare06 opened #4 "Adios2 Memory Leak"
Hello Eric,

When running:
[code]
on all three executables - CPL_EXEC, APP1, and APP2, the standard output streams show no issues. For example -  the CPL_EXEC outputs this

[code]
However, the Valgrind log shows some memory leaks. The attached Valgrind log is for the CPL_EXEC and is somewhat associated to the adios2::IO::Open calls at these four locations [1](https://github.com/SCOREC/wdmapp_coupl

[2020-01-22 17:21] #3 closed, assigned to suchyta1

[2020-02-03 12:49] #4 closed, assigned to suchyta1

[2020-02-03 22:58] Damilare06 opened #5 "Shape() mismatch"
Hi there Eric;

Running a 2 process C++ coupler to receive density from GENE (which natively uses 2 processes for its coupling transfers), we use the below code
[code]
The print output we get is:

[code]
Thus, confirming that height = dens_id.Shape()[0] and width = dens_id.Shape()[1]

However, we get this segmentation error:

[code]
This shows that the Shape Dims are [183529, 32], which is leading

[2020-02-14 21:40] zhangchonglin opened #6 "Coupling operations in XGC"
This is not an issue, just to outline the XGC code modified by Julien Dominski/Gabriele Merlo on XGC/GENE coupling operations for future reference, as I read through the source code. This will be updated as understanding improves. It should be a good place to put this as github can directly reference the source code or file.

**Major files modified:**

- [coupling_core_edge.F90](https://github.com

[2020-02-14 22:58] zhangchonglin opened #7 "Coupling operation in GENE"
This is not an issue, just to outline the GENE code modified by Julien Dominski/Gabriele Merlo on XGC/GENE coupling operations for future reference, as I read through the source code. This will be updated as understanding improves. It should be a good place to put this as Github can directly reference the source code or file.

The `XGC` counterpart is here: https://github.com/SCOREC/wdmapp_couplin

[2020-02-19 20:42] #5 closed, assigned to suchyta1

[2020-02-19 21:51] Damilare06 opened #8 "XGC implicit receive steps"
XGC receives the density within the [chargei ](https://github.com/SCOREC/wdmapp_coupling/blob/062752f8497c863a5993c3a81bdd424003243ee9/XGC_adios2/charge.F90#L1981) subroutine that's called in [es_main](https://github.com/SCOREC/wdmapp_coupling/blob/062752f8497c863a5993c3a81bdd424003243ee9/XGC_adios2/es_main.F90#L172) and [chargee_background](https://github.com/SCOREC/wdmapp_coupling/blob/062752f84

[2020-02-26 19:13] cwsmith opened #9 "GENE questions"
1. Does gene have a checkpoint/restart capability?
2. What version of gene should we be working with? Is there a git repo for it?
3. Is the GPU version of GENE (mentioned in slack) significantly different from the version in the wdmapp_coupling repo?
4. Is there a working cmake build system for GENE?
5. Has GENE been built on Summit? If so, are there instructions?
6. Are there GENE test cases we c

[2020-02-28 15:29] cwsmith opened #10 "cmake overhaul for coupler - please test"
@Damilare06 @phyboyzhang

The README here:

https://github.com/SCOREC/wdmapp_coupling/blob/089907a80d1720dbc0a76b47c219e148b464b79d/cpl/README.md

contains instructions for building the coupler code on SCOREC RHEL7 systems.

Please follow the instructions on a SCOREC RHEL7 system (see: https://wiki.scorec.rpi.edu/wiki/List_of_Computers) and reply to the issue if (1) there are problems/questions or

[2020-02-29 00:06] #10 closed, assigned to phyboyzhang, Damilare06

[2020-02-29 00:52] cwsmith opened #11 "git access on AiMOS"
Hi Cameron, I am having a git access issue when trying to clone the repo from AiMos:

[code]
I have added my AiMOS id_rsa.pub to GitHub to no avail.

I remember Profesor Carothers mentioning something about a firewall on AiMOs that prevents direct git commits or something similar. Do you have any idea if this holds true?

_Originally posted by @Damilare06 in https://github.com/SCOREC/wdmapp_coupli

[2020-03-01 17:26] cwsmith opened #12 "adios2 on AiMOS"
@Damilare06:
"Hello Cameron, does it matter that there isn't an adios2 spack install on Aimos, I could just locally install ADIOS2 and use that for my build right?"

[2020-03-03 18:28] #11 closed, assigned to nobody

[2020-03-03 18:51] Damilare06 opened #13 "Cori: adios2 shared library missing at runtime"
When I try running GENE and CPL on cori, I get the error:

[code]

When I ldd the cpl binary, with adios2 module loaded, it returns

[code]

Then, I did:

$ module show adios2

$ cd $ADIOS_LIB

$ ldd libadios2.so.2

All dependencies are found. Any idea what I should further do... I'm guessing this pertains to the warnings we got during the cpl build that spoke about building shared libraries.

PS:

[2020-03-04 15:24] #13 closed, assigned to cwsmith

[2020-03-04 17:32] #9 closed, assigned to nobody

[2020-03-05 02:05] phyboyzhang opened #14 "interpolation"
1. Does XGC implement finite element method to solve the quasi-linear equation?

2. Whether does XGC send the electrostatic field values on unstructured mesh  or the weight coefficients to GENE ?

3. file import_XGC_grid.F90 implement hdf5 for the I/O operations. why does it not use ADIOS?
 What's the difference between hdf5 and ADIOS?

4. The variable 'geomfile' in the file par_geom.F90 is not co

[2020-03-05 19:54] #12 closed, assigned to nobody

[2020-03-06 02:29] Damilare06 opened #15 "Persistence of adios2::IO objects"
We have been able to make both the `adios2 object` and the `adios2::Engines` persistent across each adios read or write operation in the [coupler](https://github.com/SCOREC/wdmapp_coupling/blob/a7e635e6835cadf81962d33e7608a23f47e78ae3/cpl/src/coupling.cc#L187).

However, the IO objects, e.g.,

https://github.com/SCOREC/wdmapp_coupling/blob/a7e635e6835cadf81962d33e7608a23f47e78ae3/cpl/src/coupling.

[2020-03-10 21:21] #15 closed, assigned to suchyta1

[2020-03-13 14:04] #8 closed, assigned to nobody

[2020-03-13 16:58] cwsmith opened #16 "GENE branch cuda-under-the-hood support for XGC coupling demonstration cases"
Is the https://gitlab.mpcdf.mpg.de/GENE/gene-dev/commits/cuda_under_the_hood branch of GENE capable of running the physics/case needed to demonstrate the coupling with XGC for the June release?  This question assumes that all the coupling steps (interpolation, etc.) are performed in the coupler and GENE is running on CPUs only.  The performance folks (Kevin and Shirley) are working on this branch,

[2020-03-16 13:38] phyboyzhang opened #17 "Confusions of the allocation of imported XGC mesh on the GENE MPI processes"
Confusions about the file https://github.com/SCOREC/wdmapp_coupling/blob/master/gene_adios2/src/import_XGC_grid.F90

In the subroutine  "define_zinds(shift_x)"  given in the file " import_XGC_grid.F 90",
GENE defines a type array
z_out_nonuni(li1 : li2),  li1 = lg1, li2 = lg2 (li1, li2 should be equal to those values),
to store the allocated parallel coordinates '\chi' of the nodes on each import

[2020-03-17 04:08] #17 closed, assigned to gmerlo

[2020-03-21 00:01] Damilare06 opened #18 "Dynamic Linking error"
Up until yesterday, I had been working with a previous GENE and XGC install (about 1-month-old) on cori... coupling them via the updated coupler worked perfectly

It appears the recent cleanups in GENE, the CPL adios2 shared librry linking or there must have been a change to the DEFAULT m499 apps - because at the moment camtimers and pspline has to be added to the `LD_LIBRARY_PATH` in order to bui

[2020-03-22 12:45] #16 closed, assigned to gmerlo

[2020-03-24 14:27] phyboyzhang opened #19 "Current understanding of the existing coupling work"
The attached file includes our current understanding of the coupling work. And some issues (not complete) are also listed at the end of this file.

The separate coupler will be developed based on our understanding of the existing coupling work.

[mesh-interpo-transfer.pdf](https://github.com/SCOREC/wdmapp_coupling/files/4394372/mesh-interpo-transfer.pdf)

[2020-03-26 17:44] #18 closed, assigned to cwsmith, Damilare06

[2020-03-30 16:14] phyboyzhang opened #21 "cori link error"
Abolaji's cori link problem (https://github.com/SCOREC/wdmapp_coupling/issues/18) still stands there for me.

adios2_comm_mod.F90:(.text+0x1091): undefined reference to `adios2_init_config_'
make[1]: *** [makefiles/rules.mk:348: bin/gene_cori] Error 1
make[1]: Leaving directory '/global/u2/s/sxzhang/wdmapp_coupling/gene_adios2'

I use the script here  https://github.com/SCOREC/wdmapp_coupling/wiki

[2020-03-30 19:35] #21 closed, assigned to nobody

[2020-03-31 00:59] phyboyzhang opened #22 "can not run on cori."
The error is as follows:

srun: error: No hardware architecture specified (-C)!
srun: error: Unable to allocate resources: Unspecified error.

May the sbatch shell has mistakes.

[2020-03-31 21:02] #22 closed, assigned to Damilare06

[2020-04-01 13:49] phyboyzhang opened #23 "KOKKOS building problem on AIMOS"
CMake Error at CMakeLists.txt:78 (PROJECT):
  The CMAKE_CXX_COMPILER:

    ~/barn/kokkos/bin/nvcc_wrapper

  is not a full path to an existing compiler tool.

  Tell CMake where to find the compiler by setting either the environment
  variable "CXX" or the CMake cache entry CMAKE_CXX_COMPILER to the full path
  to the compiler, or to the compiler name if it is in the PATH.

[2020-04-01 16:01] #23 closed, assigned to cwsmith

[2020-04-01 18:28] phyboyzhang opened #24 "Building of cpl on aimos doesn't work."
I installed Kokkos, but still have the broblem:

CMake Warning at CMakeLists.txt:5 (find_package):
  By not providing "FindKokkos.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Kokkos", but
  CMake did not find one.

  Could not find a package configuration file provided by "Kokkos" with any
  of the following names:

    KokkosConfig.c

[2020-04-01 20:12] #24 closed, assigned to cwsmith

[2020-04-07 18:31] Damilare06 opened #25 "GENE reordering inquiring"
In the current coupling methods, is there a requirement or an assumption on the ordering/ reordering of the mesh vertices/nodes coming from XGC?

Will the current coupling procedure work with any arbitrary nodes groups coming from XGC. or are they arranged in a specific order on flux surfaces?

How are the incoming fields - the charge density and potential field, transferred to these mesh vertices

[2020-04-09 18:26] phyboyzhang opened #28 "a problem of Fortran data passing between routines"
In the file boundary_exchange_z.F90,

https://github.com/SCOREC/wdmapp_coupling/blob/116fe3eef51d74962001db64fc5b2bdda34da188/gene_adios2/src/boundary_exchange_z.F90

a subroutine exchange_z_3D passes  a 3D array u(li1:li2,lj1:lj2,lbz:ubz) to exchange_z_general without looping over the first and the second dimensions, while the later only receives another u(1:ubz-lbz+1,n_dim_2)(n_dim_2 = 1).  So h

[2020-04-10 01:02] #19 closed, assigned to gmerlo

[2020-04-10 17:45] #28 closed, assigned to gmerlo

[2020-04-12 19:54] phyboyzhang opened #29 "Issue of redistributing the datas on the y domain for FFT"
For Fourier transform of the datas on Y domain, it's required  to reassemble the subdomain of datas on Y domain  distributed on each process. In the subroutine transpose_cmplx included in the file poloidal_planes_aux.F90() [here](https://github.com/SCOREC/wdmapp_coupling/blob/116fe3eef51d74962001db64fc5b2bdda34da188/gene_adios2/src/poloidal_planes_aux.F90), it looks that
Complex, Dimension(n2/n_pr

[2020-04-12 20:27] #29 closed, assigned to gmerlo

[2020-04-16 19:06] Damilare06 opened #34 "Fortran <-> C++ADIOS2 Complex datatype transfer"
Hi there @suchyta1

In order to transfer complex data types from Fortran to C++, we would love to know if there is an existing example/ verification of the data type we should be expecting on the C++ side?

We can see the adios2 type declaration here:
https://adios2.readthedocs.io/en/latest/api_full/api_full.html#io-subroutines
https://adios2.readthedocs.io/en/latest/components/components.html#var

[2020-04-24 01:15] #34 closed, assigned to suchyta1

[2020-04-24 20:45] Damilare06 opened #36 "adios2_open comm"
Hello Eric, if adios2 is initialized with a global communicator such as

[code]
In order to perform a send on a set of processes within a subset of `my_mpi_comm_world`, say `mpi_comm_xyz` as seen [here](https://github.com/Damilare06/gene/blob/d19e7b8b0f18aeedf262ba493fc5222a136ca91d/src/emfields_base.F90#L399)

[code]

The [creation](https://github.com/Damilare06/gene/blob/d19e7b8b0f18aeedf262ba49

[2020-05-01 02:20] germasch opened #40 "wdmapp_coupling should link to MPI"
For me, the spack-installed coupler (as a dependency of "wdmapp") fails to build because it uses MPI, but the CMakeLists.txt doesn't do `find_package(MPI REQUIRED)` and the code doesn't link to MPI.

My guess as to why this may work for you is that Kokkos will set the C++ compiler to `mpicxx` wrapping `nvcc_wrapper`, but that only happens if Kokkos itself is built with CUDA enabled, but the case w

[2020-05-01 14:27] #40 closed, assigned to cwsmith

[2020-05-01 17:54] #36 closed, assigned to suchyta1

[2020-05-05 02:15] cwsmith opened #43 "memory errors from address sanitizer"
Following the coupler build instructions here:

https://github.com/SCOREC/wdmapp_coupling/wiki/Building-and-Running-on-AiMOS

But using the following cmake command (adjust paths as needed):

[code]

Then running `ctest`:

[code]

produces four `test/asan.<####>` files.

One of them is pasted below.  I think one of the errors may be caused by a mismatch in the allocation size, `part3lj0`,  and subs

[2020-05-06 18:53] #43 closed, assigned to phyboyzhang

[2020-05-08 12:49] cwsmith opened #45 "08-05-2020 Telecon Questions and Notes"
Attendees: Kai, Gabrielle, Mark, Shuangxi, Abolaji, Cameron

### Coupler Development Approach

Given the work done to port Gabrielle's 'ECP' GENE and XGC developments into
GENE-CUTH and XGC-devel we are shifting our approach to work with these
modified versions instead of starting with unmodified versions of GENE-CUTH and
XGC-devel.  This should reduce the amount of work we have to do and make
mer

[2020-05-08 18:43] #45 closed, assigned to nobody

[2020-05-08 21:35] phyboyzhang opened #47 "The 2d Fourier transform"
In the ECP-GENE, the function
[code]
In the file [here](https://github.com/SCOREC/wdmapp_ecpXgcGene/blob/dbc3e5241dffc98929a75adfaa6d7a2041840bac/gene_adios2/src/poloidal_planes_nonuni.F90) implement 2D Fourier transform plan and execution
[code]
for transforming  the "y" dimension.  My testing shows that such kind 2d Fourier transform doesn't provide the required transform only on the "y" dimensi

[2020-05-11 12:19] #47 closed, assigned to nobody

[2020-05-18 15:02] Damilare06 opened #49 "GENE HDF5 input file inquiry"
Hi all,

Please I would like to confirm if the attributes and arrays read from the `XGC_file` - `'XGC_map_circular_2020_new.h5' hdf5` input file readily exists in `XGC` in the correct state that can be directly sent from `XGC`  to the `coupler` via ADIOS2 ... instead of having `GENE` send it to the `coupler`.

For example, the `nsurfs` variable read in [here](https://github.com/wdmapp/gene/blob/74

[2020-05-27 18:55] cwsmith opened #53 "test_init fails on aimos"
It appears we have a memory allocation bug introduced to the `develop` branch with #46 .  This does not happen on SCOREC RHEL7.

We can run under address sanitizer to help find the issue.

[code]

[2020-05-27 21:42] #53 closed, assigned to Damilare06

[2020-06-13 13:27] phyboyzhang opened #60 "Preprocess condition is not right given"
In file init_physical.F90, the code can not get through the first preprocess #if to execute the inner block
[code]

[2020-06-13 14:31] #60 closed, assigned to Damilare06

[2020-06-14 19:45] Damilare06 opened #61 "Subcommunicator global rank issue"
At the moment, a variable `block_count` = 62213  on process 0 and 2 but block_count = 160326  on 1 and 3 - of the `MPI_Comm_world`

`comm_x` is a subcomm (created [here](https://github.com/SCOREC/wdmapp_coupling/blob/8cc931315f1fdb7ab500d604e17016d27e8d7c1f/src/commpart1.cc#L152)) that should contain 2 processes that should have contiguous global ranks e.g. 0 & 1 or 2 & 3, so the sum of `blockcoun

[2020-06-15 19:34] #61 closed, assigned to cwsmith, phyboyzhang

[2020-06-19 15:06] phyboyzhang opened #63 "The transpose of 2D processes between C and Fortran concerning Adios2"
Given 4 processes allocated to MPI_COMM_WORLD. They are divided into 2 processes in x dimension and 2 in y dimension. For fortran, the relation between the indices of the four processes in MPI_COMM_WORLD and the indices of them in COMM_X, COMM_Y is
[code]
While in C or C++, the relation is
[code]
There exists a transpose of process indices between C and Fortran. So when receiving datas sent  in MP

[2020-06-21 15:17] phyboyzhang opened #64 "A problem that GENE can not Open the bp file sent by the coupler."
Now, the coupler has the capability to communicate with GENE and XGC now within the time loop by receiving datas from and sending datas to GENE and XGC. The related version of coupler is [here](https://github.com/phyboyzhang/wdmapp_coupling/tree/szDev), while the related version of GENE is [here](https://github.com/phyboyzhang/gene/tree/rpi).

One remaining issue is that in GENE part, the adios2 I

[2020-06-23 19:08] #64 closed, assigned to nobody

[2020-06-24 01:55] Damilare06 opened #65 "Adios2 object persistence error"
Based on Kai's recommendation and the ADIOS2 documentation, the adios2 objects [here](https://github.com/phyboyzhang/gene/blob/c952755ebb492cdb65406706e7358f5b2b33fb60/src/coupling/coupler_pproc.F90#L202) should be persistent for SST

https://github.com/SCOREC/wdmapp_coupling/issues/15

I am currently working on a fix.

[2020-06-25 20:22] cwsmith opened #66 "sporadic XGC poisson solve failure on AiMOS"
Running the circular case (https://github.com/wdmapp/testcases/tree/4ae055ea046d354c9026ec54344dcd710f6ac20b/run_1/aimos) on AiMOS with the following branches:

xgc: wdmapp/XGC-Devel.git 6bd3ad3
gene: https://github.com/cwsmith/gene/tree/74526a399b18f3ccd943f9f6844a7bb7145029bc
coupler: https://github.com/cwsmith/wdmapp_coupling/tree/9ac81dcaaf04270c057f31c0c91c02f947ceb731

sporadically results i

[2020-06-26 11:58] cwsmith opened #67 "failure at termination of coupler"
When the coupler (https://github.com/cwsmith/wdmapp_coupling/tree/33606affc2e433adc6fb379b620f862dc129ac05) exits/terminates from a cyclone/circular test case (https://github.com/wdmapp/testcases/tree/4ae055ea046d354c9026ec54344dcd710f6ac20b/run_1/aimos) on AiMOS after one time step it hits an error.  The cause is unknown and an attempt to reproduce it in serial was only partially successful (we f

[2020-06-26 17:26] Damilare06 opened #71 "cy_arr deleted"
Within the coupler, there exists initialized `cy_arr`, `sign_phi`... variables

these lines coordinate with codes in GENE and it doesn't seem like it works out and here is an issue that discusses it.

[2020-06-29 00:50] phyboyzhang opened #73 "The problem about the Fourier space spectrum"
The  subroutine in the module file [here](https://github.com/wdmapp/gene/blob/cbd16fb3661b30cb77c2091b91a6af5f46a4c3a7/src/coupling/planes_fourier_fftw.F90#L43) is posted here.
[code]
The array outarr only inherits the first gdisc%nj0 elements of the first dimension in tmparr. Since in the new wdaapp/GENE, both "res_fact" and "n0_global" equal 4, the latter 3*gdisc%nj0 elements of the first dimens

[2020-06-29 14:35] #67 closed, assigned to nobody

[2020-06-29 15:39] Damilare06 opened #75 "cpl sending Nan to XGC"
At the 6th send loop, the coupler is observed to send invalid values to XGC and this bug is caught by the check [here](https://github.com/wdmapp/XGC-Devel/blob/rpi/XGC_core/coupling_core_edge_gene.F90#L238-L241)

@phyboyzhang has said the latest modifications within the `szDev` branch should address this bug...

[2020-07-01 03:01] #71 closed, assigned to nobody

[2020-07-01 03:01] #65 closed, assigned to nobody

[2020-07-02 20:56] cwsmith opened #77 "seg fault on Rhea in coupler"
coupler version: fcd22e5
gene version: https://github.com/wdmapp/gene/commit/1a5e1c77affb85a00e44f66d0fcb3e03f8d7bb2c
xgc version: https://github.com/wdmapp/XGC-Devel/commit/6bd3ad3fda4f4d37897dad338a308785a2c51fef
testcases version (using [run_externalCpl.yaml](https://github.com/SCOREC/testcases/blob/f15a37217a51d0ff467f0811b724b137982ee43a/run_1/rhea/run_externalCpl.yaml)): https://github.com/S

[2020-07-02 23:49] phyboyzhang commented on #75
@Damilare06 Is this problem still here?

[2020-07-05 14:36] phyboyzhang commented on #75
This problem was already solved by the new pr [here](https://github.com/wdmapp/gene/pull/13/commits/587d9f98880facb7481298e73d65ac02079da2d5).

[2020-07-08 13:10] phyboyzhang commented on #77
I met the similar problem on AiMOS  when I debug the code. The problem on AIMOS was already solved on AIMOS by restricting my_pez==0 here: https://github.com/phyboyzhang/gene/blob/dba61187c7c284df3db211414870400df627cbd9/src/coupling/XGC_grid.F90#L355
It's still due to the transpose of the processes of subcommunicator.

[2020-07-08 13:45] phyboyzhang opened #78 "We have very similar result to theirs now."
I got the following result this morning
[code]
which is produced by the following line in XGC
[code]
Their result is
[code]

[2020-07-10 19:36] phyboyzhang commented on #78
Before submitting the new PR [here](https://github.com/SCOREC/wdmapp_coupling/commit/3f00069e936e4242267fa4a369f5b48a2fb3a1f6) and [here](https://github.com/phyboyzhang/gene/commit/6b57d374b409b1dd3b03c3f82e5013861d713dd8), there still exits a lot of problems in Adios2 1d sending and receiving routines exiting in the file cpl.cc, adiosRoutines [here](https://github.com/SCOREC/wdmapp_coupling/commi

[2020-07-12 14:13] phyboyzhang opened #79 "A problem about coupling branch of wdmapp/gene"
I used the artificial data to test the routines  processing the field datas of XGC to those of GENE in the coupling branch of wdmapp/GENE. By letting all the real field value equal 1.0 [here](https://github.com/phyboyzhang/gene/blob/coupling/src/coupling/coupler.F90#L461) and printing out the this%emfields(i,j,k,1) [here](https://github.com/phyboyzhang/gene/blob/coupling/src/emfields_base.F90#L467

[2020-07-13 15:15] #6 closed

[2020-07-13 15:16] #7 closed

[2020-07-13 15:16] #14 closed

[2020-07-13 15:16] #25 closed

[2020-07-13 15:17] #49 closed

[2020-07-13 15:31] cwsmith commented on #78
I'm guessing we have workarounds (i.e., hacks) to avoid the problems if we are getting similar results.  Is that understanding correct?

Specifically, the process transpose issue was mentioned in an old issue (https://github.com/SCOREC/wdmapp_coupling/issues/63) and, IIRC, a hack/workaround was added in gene (?) to avoid it.

[2020-07-13 15:33] cwsmith commented on #73
This appears to be resolved.  Please re-open if needed.

[2020-07-13 15:33] #73 closed

[2020-07-13 15:35] cwsmith commented on #75
Is this issue still present with our latest branches (in the scorec repo or a fork) of gene, xgc, and the coupler?

[2020-07-13 15:36] Damilare06 commented on #75
No it is not

[2020-07-13 15:36] #75 closed

[2020-07-13 17:26] phyboyzhang commented on #78
Yes, I think the latest coupler [here](https://github.com/phyboyzhang/wdmapp_coupling-1/tree/similar) is very close to having the same function with theirs.

We need that transpose mentioned in  (#63) for all the subcommunicators used for sending datas. But the sending routines only hander a single subcommunictor, so that we only use comm_x in the GENE[here](https://github.com/phyboyzhang/gene/com

[2020-07-14 15:12] phyboyzhang commented on #78
By the new PR [here](https://github.com/phyboyzhang/wdmapp_coupling-1/commit/54d55e2abe13453ff15ce839f1e8256d912014df), XGC can receives and send the correct data now. The following is
XGC's output by our COUPLER
[code]
Their result is
[code]

[2020-07-14 15:16] cwsmith commented on #78
Sounds good.

I see the 'similar' branch but don't see a new Pull Request associated with it.  Does it make sense to add these changes into the existing Pull Request: https://github.com/SCOREC/wdmapp_coupling/pull/76

[2020-07-14 16:15] phyboyzhang commented on #78
After I recover some commented lines, I will add those changes to   #76.

[2020-07-14 17:21] Damilare06 opened #80 "XGC GENE IO issue on Summit"
**Spack install**
on Summit, I was able to spack install `wdmapp@0.1.0%gcc@8.1.1` and `effis`.
Using this and `spectrum-mpi-10.3.1.2`, I turned on/ off the appropriate flags in the `spconfig.py` to match those shown here https://wdmapp.readthedocs.io/en/latest/machines/aimos.html - which should build the correct versions of both codes once I point them to the correct code base CMakeLists.

**Code

[2020-07-14 17:46] cwsmith commented on #80
The Summit (and Rhea, etc.) compute nodes can only read and write files on the `[Member|Project|WORLD] WORK` portions of the filesystem.
https://docs.olcf.ornl.gov/data/storage_overview.html#storage-areas
Are the jobs being run from one of these locations?

[2020-07-14 17:51] Damilare06 commented on #80
I am not sure but this is the location I run the job from /autofs/nccs-svm1_home1/damilare/dev/testcases/run_1/summit_abj

[2020-07-14 18:05] cwsmith commented on #80
The user guide has the info:

https://docs.olcf.ornl.gov/data/user_centric.html
https://docs.olcf.ornl.gov/data/project_centric.html#

[2020-07-14 18:26] Damilare06 commented on #80
Thanks Cameron, it has gone past this error. All 3 executables run but I have to fix an HDF5 flag in gene.

[2020-07-14 19:57] Damilare06 commented on #80
HDF5 is having issues opening the XGC mesh file

[code]

[2020-07-14 20:03] cwsmith commented on #80
Try submitting the job with EFFIS following the run instructions here:
https://wdmapp.readthedocs.io/en/latest/machines/summit.html#running-the-cyclone-test-case

[2020-07-14 22:24] phyboyzhang opened #81 "The problem of building gene@coupling on summit"
The wdmapp and effis were installed successfully. And I tried to build gene@coupling  which was cloned from git@github.com:wdmapp/gene.git. I used "spack install  gene@coupling" for installing and "spack setup  gene@coupling" for setup. Then the error appears:
[code]

[2020-07-15 11:34] germasch commented on #81
`spack install gene@coupling` should do all you need. `spack setup ...`  is an alternative to set things up for building gene yourself, but using the dependencies provided by spack.

`spack setup` is out-of-date/unsupported, though it still mostly works. The error you're getting above can actually be safely ignored.

[2020-07-15 13:19] phyboyzhang commented on #81
Yes. Thanks. At beginning, I tried to build gene@external_cpl, which is not included by gene/package.py. So I got that problem without spconfig.py generated. But after I switched to gene@coupling, I ignored to check whether spconfig.py exists, which exists indeed.

[2020-07-15 13:19] #81 closed

[2020-07-15 13:53] phyboyzhang commented on #78
The updates were pushed to [#76](https://github.com/SCOREC/wdmapp_coupling/pull/76).

[2020-07-15 14:40] Damilare06 commented on #80
the `effis-compose.py run_1.yaml` command returns the below error: is this an error with my effis install or my run_1.yaml file?

[code]

[2020-07-15 15:58] cwsmith commented on #80
@Damilare06 Hmmm.  It looks like it is failing during a text replacement operation (`_MakeReplacements`) I just pushed an effis composition file that *should* work on summit (I have not tested it).  Would you please try it (add `git@github.com:SCOREC/testcases.git` as a remote and checkout the `externalCplParam`) ?

[2020-07-15 16:19] Damilare06 commented on #80
I would do that now. Thank you

[2020-07-15 16:27] Damilare06 commented on #80
must all executables be in scratch?

[2020-07-15 17:04] Damilare06 commented on #80
Thanks cameron, the new file worked... all 3 executables are running, just some debugging needed

[2020-07-15 17:13] Damilare06 commented on #80
@cwsmith it doesnt allow me to reuse the same directory each time...

[2020-07-15 18:27] Damilare06 commented on #80
and must it separate std err from std::out?

[2020-07-20 15:41] phyboyzhang commented on #78
Now with the new push [here](https://github.com/phyboyzhang/wdmapp_coupling-1/commit/e0e2fa33def8e7155334bbb4160862fe4c2efb6d), COUPLER executes without error  on AIMOS now. The result outputted by XGC with coupler is
[code]
the result outputted by XGC without coupler is
[code]

COUPLER leaves MPI as follows
[code]

[2020-07-20 19:59] phyboyzhang commented on #78
The following is a 12-step running result by COUPLER
[code]
The output of XGC without COUPLER up to 8 time steps is
[code]

[2020-07-22 16:18] Damilare06 opened #83 "RUNNING VALGRIND VIA EFFIS"
Hi Eric,

Please how can I run Valgrind on Summit via Effis. At the moment, I am trying to debug a memory corruption error that might be due to some MPI calls within the latest version of the coupler but tracking it down via print statements is proving difficult.

For a first attempt, I would search for a wdmapp Tau + Effis example and adapt that for running the Valgrind + Effis.

Is there an exis

[2020-07-22 16:31] suchyta1 commented on #83
A TAU example looks like this, and you should be able to do analogously with valgrind.

[code]

`commandline_args` is for "arguments", i.e. what you give will just be added to call, in the order given.
[code]

There's also `commandline_options`, which is a dictionary that will append options that look like `--key value`.

[code]

That would look like `/path/to/something --min -10 --max 10`.

[2020-07-22 18:34] Damilare06 commented on #83
Hi @suchyta1 thank you for the above pointers,

Before I can attempt that however, my gene build on Summit is returning a shared library error when I run with effis
[code]
I previously fixed this error (sometime last week) by `spack load` -ing the module in my yaml file
[code]

However, after yesterday's Summit maintenance, this appears to be broken as I get the above error when I submit my yaml c

[2020-07-23 12:41] #83 closed

[2020-07-23 14:04] Damilare06 opened #84 "receive_gene_pproc<double> memory leak"
Morning @suchyta1 ,

We defined a templated class `receive_gene_pproc<T>` for receiving the incoming adios buffers [here](https://github.com/SCOREC/wdmapp_coupling/blob/fcd22e5abdf1b78a5fec1e842b66496272cc95e0/src/adios2Routines.h#L327)

When I run the coupler with `Valgrind`, it returns the below error for every instance of the function that receives a double - `receive_gene_pproc<double>` . Thes

[2020-07-24 18:36] cwsmith commented on #84
Note, `Conditional jump or move depends on uninitialised value(s)` is not a leak.  The page here appears to be a good summary of the basic outputs from valgrind:
https://epitech-2022-technical-documentation.readthedocs.io/en/latest/valgrind.html

[2020-07-24 20:39] Damilare06 commented on #84
Thanks for the clarification Cameron.

[2020-07-24 20:41] Damilare06 commented on #84
However, should these warnings be returned only for `double` datatypes?

[2020-07-24 21:52] Damilare06 opened #85 "Coupler Double Corruption error on Summit"
Using the latest version of the stack -

coupler - https://github.com/phyboyzhang/wdmapp_coupling-1/tree/szDev
gene - https://github.com/phyboyzhang/gene/tree/rpi
xgc-devel - https://github.com/Damilare06/XGC-Devel/tree/passThrough

This stack currently executes correctly on AiMOS. However, on Summit, the coupler fails after receiving the gene density and returns this error;

[code]
**Our solution

[2020-07-27 13:19] cwsmith commented on #84
@Damilare06

AFAIK, the `conditional jump` warning can occur on any data type.

Invalid reads or writes are concerning.  You could try running a simple adios2 example (provided by adios2, not one of ours) on summit under valgrind to see if the errors appear there.  If so, we can report that as a new issue in the adios2 repo.

[2020-07-27 13:32] Damilare06 commented on #84
Yes, these jumps can occur on any data type but in our case, it only occurs for our doubles.

I would run the adios2 example ASAP to investigate this further. Thank you very much.

[2020-07-27 16:00] phyboyzhang commented on #85
@Damilare06 I think you may try print statement again, because  the line you spotted [here](https://github.com/phyboyzhang/wdmapp_coupling-1/blob/20f9a35b96a3a85e72c61a49f45006d6fa92191a/src/dataprocess.cc#L537) is not the latest commit(if it's spotted right). That spotted line as well as the two lines above is not right, because  a dynamically allocated pointer is used to point to another allocat

[2020-07-27 16:06] Damilare06 opened #86 "Mismatched free() / delete / delete []"
Some of the returned error messages within `Valgrind` points to the use of `free` to deallocate memory that was allocated using the `new` keyword as seen [here](https://epitech-2022-technical-documentation.readthedocs.io/en/latest/valgrind.html), inline with the C++ standard.

Please find attached the output pointing to this occurrence at some point in the code. I have fixed this within my branch

[2020-07-27 16:07] Damilare06 commented on #85
Yes Shuangxi, I referenced those old locations from previous commits to show the solution logic and to better document the approach. Right now `Valgrind` works in identifying some errors such as https://github.com/SCOREC/wdmapp_coupling/issues/86

At the moment, Cameron has advised I run an adios2 simple test on Summit with Valgrind to check if the same errors exist

[2020-07-27 18:37] phyboyzhang commented on #85
Can valgrind be applicable to WDMAPP without coupler? If they can, changing Sst to BP4 looks not useful.

[2020-07-27 19:49] cwsmith commented on #86
@Damilare06 Would you please reupload/reattach the output?

[2020-07-27 19:59] Damilare06 commented on #85
to wdmapp? I dont understand the question

[2020-07-27 20:05] Damilare06 commented on #86
Which output? the one that has the `Mismatched` error? or the latest output I have? [I have made some modifications -> switching free() for delete[] in some places], thus eliminating the Valgrind the error message regarding this.

I just opened this issue to document the reasoning behind the change

The files containing this error are all larger than 10MB as permitted here. I can try sending them

[2020-07-27 20:10] cwsmith commented on #86
I'm referring to the statement "Please find attached the output".  Text files can be compressed with `gzip` prior to upload.

[2020-07-27 23:03] Damilare06 commented on #84
[90243.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4985016/90243.vg.gz)
[90244.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4985017/90244.vg.gz)
[90245.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4985018/90245.vg.gz)
[90246.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4985019/90246.vg.gz)

Please find attached a copy of the valgrind output for a simple adi

[2020-07-28 01:02] cwsmith commented on #84
@Damilare06 In the valgrind output from the example are there any memory errors (invalid reads/writes) or leaks from adios2?  I took a quick look at `90243.vg` and didn't notice any.

[2020-07-28 10:40] Damilare06 commented on #84
@cwsmith No Invalid reads - I thought this run was to search for the occurrence of the Conditional Jumps warnings

[2020-07-28 19:50] cwsmith commented on #84
@Damilare06 OK.  That is good.  I'm not terribly concerned about the `conditional jumps` warnings.

Does the adios2 example run successfully (exits cleanly) under valgrind?

[2020-07-28 19:53] #80 closed

[2020-07-29 19:24] Damilare06 commented on #84
@cwsmith Yes, the examples exit cleanly under Valgrind.

it returns this Valgrind summary though
[code]

Also, its stderr output file is clean - no output

[2020-07-29 20:04] Damilare06 commented on #86
[40503.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4997171/40503.vg.gz)
[40504.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4997172/40504.vg.gz)
[40505.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4997173/40505.vg.gz)
[40506.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/4997174/40506.vg.gz)

Please find attached the log files

[2020-07-30 12:26] cwsmith commented on #84
@Damilare06 OK.  That is good.  It looks like the adios2 example is using BP4.  Can we run it with SST and see if it produces any errors (on summit) and if it exits cleanly?  The point of this is to determine if valgrind is confused by the 'messaging' that SST does and reports 'false positives', or if we are doing something wrong in the coupler with adios2.

[2020-07-30 12:39] cwsmith commented on #86
@Damilare06 Thank you.

Our calls to `coupler::receive1d_from_ftn(...)` are causing invalid reads.  For example:

[code]

and then there are 'use of uninitialized value' errors:

[code]

I think the first thing we should do is sanity check that we are passing the IO and Engine objects correctly from the driver to `coupler::receive1d_from_ftn(...)`.

Would you please also post the valgrind logs fro

[2020-07-30 13:10] Damilare06 commented on #86
Please find attached output logs without the mismatch error

[118913.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5001373/118913.vg.gz)
[118914.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5001374/118914.vg.gz)
[118915.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5001375/118915.vg.gz)
[118916.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5001376/118916.vg.gz)

[2020-07-30 13:37] Damilare06 commented on #86
Everything looks okay; we pass the IO and engine by reference [here](https://github.com/phyboyzhang/wdmapp_coupling-1/blob/252c3e0fd8d4d66e721f4f6e203e43a49027369b/src/adios2Routines.h#L145
)

The `adios2_handler` is defined [here](https://github.com/phyboyzhang/wdmapp_coupling-1/blob/252c3e0fd8d4d66e721f4f6e203e43a49027369b/src/adios2Routines.h#L16)  and used to initialize the `receive1d_from_ftn

[2020-07-30 13:50] Damilare06 commented on #86
I pushed the changes here

https://github.com/Damilare06/wdmapp_coupling-1/tree/MPIGatherv

[2020-07-30 14:07] cwsmith commented on #86
The github link appears to be broken or the repo is private.  Is this the 'old' fork from before we made `scorec/wdmapp_coupling` public?

[2020-07-30 15:24] Damilare06 commented on #86
Yes it is the old fork

[2020-07-30 15:27] cwsmith opened #87 "test_init fails on AiMOS"
## code versions

coupler sha1: 2d99664
wdmapp_coupling_data sha1: https://github.com/SCOREC/wdmapp_coupling_data/commit/699e9304543e452c2713a79c8a257032d6f896f5

## build environment

[code]

## cmake command

[code]

Building without optimization enabled

[code]

then running `ctest` also results in a failure pasted below.

## stack trace

Using `addr2line` gives the following stack trace:

[cod

[2020-07-30 15:33] Damilare06 commented on #84
When I switch to the sst adios2 in-built example, the reader and writer exit with the same error after performing the sends or receives.

I have attached the valgrind log and output from the reader
[13458.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5002249/13458.vg.gz)
[13459.vg.gz](https://github.com/SCOREC/wdmapp_coupling/files/5002250/13459.vg.gz)
[13460.vg.gz](https://github.com/SCO

[2020-07-30 15:59] cwsmith commented on #84
@Damilare06 Interesting.  When the adios2 sst example is run without valgrind it exits cleanly?

[2020-07-30 16:00] Damilare06 commented on #84
Id confirm that now

[2020-07-30 16:52] Damilare06 commented on #84
yes, it exits cleanly when Valgrind is not used

[2020-07-30 18:18] cwsmith commented on #84
@Damilare06 Is the following summary correct?

|                     | with  valgrind | without  valgrind |
|---------------------|----------------|-------------------|
| adios2 BP4 example  | runs           | runs              |
| adios2 SST example  | fails          | runs              |

Would you please link to SST example that was used?

Given this, it seems like we should fix all existing `i

[2020-07-30 18:29] Damilare06 commented on #84
With Valgrind, the adios2 SST example runs correctly but exists with the error - as shown in the attached output.

Yes, we can move the discussion there

[2020-07-31 13:37] cwsmith commented on #84
@Damilare06 Please link to SST example that was used for testing with valgrind.

[2020-08-02 05:36] Damilare06 commented on #86
commenting out the debug code call `printSumm1D` [here](https://github.com/SCOREC/wdmapp_coupling/blob/2d99664fb8d111277a156ea1e55e212253dbf51b/test/cpl.cc#L136) and rerunning the test, I have been able to run 1 RK4 loop.

While debugging to enable the complete RK4, the coupler started hanging - it gets to some random point in the code and just stays there; no error is returned. It just hangs till

[2020-08-02 13:15] cwsmith commented on #86
Re: one RK4 loop
- Is this using BP4 or SST?
- What does valgrind report for the one RK4 loop?  Are there still any `invalid read/writes` or `use of uninitialized values`?

Re: coupler hangs
- Is XGC or GENE also failing when the coupler hangs?
- Have you tried printing to stderr (`cerr`, `fprintf(stderr,...)`) to see if the location in the code of the hang is the same across multiple runs?

[2020-08-02 13:54] Damilare06 commented on #86
Re:Re: One RK4 loop

- Yes, it is using BP4
- I have attached the `valgrind` output for this run 844*

Re:Re: coupler hangs

- both `gene` and `xgc` are waiting on the coupler to send to or read from them. They do not fail until I end the job.
- Yes, I have print statements all over the code and the hang location changes - It now hangs after preprocessing [here](https://github.com/SCOREC/wdmapp_co

[2020-08-02 16:16] cwsmith commented on #86
@Damilare06

Thank you.  There is still an `invalid write/read` with the allgatherv that needs to be resolved (pasted below).

It looks like the array `tmp`:

https://github.com/SCOREC/wdmapp_coupling/blob/2d99664fb8d111277a156ea1e55e212253dbf51b/src/dataprocess.cc#L529

is being written beyond the end of the array by the AllGatherV:

https://github.com/SCOREC/wdmapp_coupling/blob/2d99664fb8d11127

[2020-08-02 23:01] Damilare06 commented on #86
is there an upper limit for the `OpenTimeoutSec` adios2 variable? xgc and gene seem to close before the coupler gets there -  they return this message .

gene
[code]

and xgc
[code]
Changing the value to 1200 seconds returns the same errors, but changing it to 1800 seconds causes the hanging (any number higher than this results in the hang). The coupler never gets to within the loop, so the MPI_ga

[2020-08-03 00:05] phyboyzhang commented on #86
My experience is that if BP file is used, there is a maximum time after that if no message was received, the code reports error.

[2020-08-03 00:21] phyboyzhang commented on #86
I think the 800 seconds is set at adios2cfg.xml file.

[2020-08-03 01:10] Damilare06 commented on #86
@phyboyzhang Yes, I have already been changing the value from the `adios2cfg` file but its returning the error.

@cwsmith  the values of `lj0` and `li0` are the same across all processes

[2020-08-03 01:50] phyboyzhang commented on #86
That question is for me. lj0 and li0 are the same across all processes, respectively
.

[2020-08-03 03:04] Damilare06 commented on #86
With `valgrind` turned OFF and a few minor changes, I have a full RK4 loop with BP4.

I would try other runs and switching to SST.

[2020-08-03 03:05] Damilare06 commented on #86
all 3 executables exit cleanly

[2020-08-03 04:16] Damilare06 commented on #86
This clean exit is hard to replicate. Although I still have the output

[2020-08-03 04:41] Damilare06 commented on #86
Sadly, I didnt commit my code and a little glitch caused this ir-reproducibility

[2020-08-03 17:37] Damilare06 commented on #84
Here is the link to the reader and writer  https://github.com/ornladios/ADIOS2/tree/master/examples/hello/sstReader

https://github.com/ornladios/ADIOS2/tree/master/examples/hello/sstWriter

[2020-08-03 18:45] Damilare06 commented on #86
Yes, there still exist invalid reads and writes associated with the MPI_allgatherv.
Both `recvcount` and `rdispls` have a value of npz = 2

https://github.com/SCOREC/wdmapp_coupling/blob/2d99664fb8d111277a156ea1e55e212253dbf51b/src/dataprocess.cc#L523

[2020-08-03 19:46] Damilare06 commented on #86
@cwsmith this is a snippet of the output
[code]

Please find attached
[codar.workflow.std.zip](https://github.com/SCOREC/wdmapp_coupling/files/5018113/codar.workflow.std.zip)

[2020-08-03 20:15] Damilare06 commented on #86
there is a mismatch here

[code]

[2020-08-04 14:09] #84 closed

[2020-08-04 14:17] phyboyzhang commented on #86
Can you attach the corresponding code lines here for that part?

[2020-08-04 14:37] Damilare06 commented on #86
[code]

[2020-08-04 14:44] germasch commented on #86
I haven't really been following this, but this line does not do what you think it does. Use

[code]

[2020-08-04 14:45] Damilare06 commented on #86
Thank you very much Kai

[2020-08-04 15:00] phyboyzhang commented on #86
@Damilare06  I submitted a modified version of job_summit.sh  https://github.com/phyboyzhang/testcases/tree/bsub_summit . With that script, you can submit job by "bsub  job_summit.sh", which  would make the debug more convenient than effis.py .

[2020-08-04 15:15] Damilare06 commented on #86
I dont have access to the script. The link is not valid

[2020-08-04 15:35] phyboyzhang commented on #86
Maybe you need first fork wdmapp/testcases or score/testcases .

[2020-08-04 15:44] Damilare06 commented on #86
what branch?

[2020-08-04 16:10] phyboyzhang commented on #86
https://github.com/phyboyzhang/testcases/tree/bsub_summit

[2020-08-04 16:32] Damilare06 commented on #86
Im guessing that repo is private to you only. But my current effis script works good so I don't see a reason to switch to your new one

[2020-08-04 17:11] Damilare06 commented on #86
Hi @germasch , thanks for the suggestion.

I can see a change in the output that looks correct.

[code]

[2020-08-04 18:19] phyboyzhang commented on #86
It's not private! If you fork scorec/testcases or wdmapp/testcases, you will have the access to all the branches of my testcases  fork. The sub_summit is the branch I mentioned.  It depends on you using it or not. That's just my feeling.

[2020-08-04 21:20] Damilare06 commented on #86
Without `Valgrind`, the setup currently runs 1 full RK4 loop, and all executables exit cleanly. Find the code within my `noError` branch https://github.com/Damilare06/wdmapp_coupling/tree/noError

Using the suggestions offered by @germasch , the Valgrind errors show no `Invalid reads or writes` but some mismatched errors... It also hangs at preprocessing, returning no useful error message even in

[2020-08-04 22:39] phyboyzhang commented on #86
The code version which you based to get your result has an invalid condition  https://github.com/Damilare06/wdmapp_coupling/blob/noError/src/dataprocess.cc#L570 . However, if the code can run with that invalid condition, that gives us a hint that why the code can not run on summit which running on AIMOS.

[2020-08-04 22:42] Damilare06 commented on #86
What do you mean by invalid condition, that is basic process filtering.

[2020-08-04 22:48] phyboyzhang commented on #86
That means with that condition, the result is not right even the code can run.

[2020-08-04 22:56] Damilare06 commented on #86
have you confirmed the simulation result??? if so, please paste it

[2020-08-04 23:13] phyboyzhang commented on #86
I don't need to test that. That's logically incorrect. That condition filters out majority processes which actually  have to participant in the communication. That's a fundamentally logical error.

[2020-08-05 00:00] Damilare06 commented on #86
Then your coding logic is wrong to begin with. Because you are doing a collective operation only over `p1->comm_z` sub-communicator and not MPI_COMM_WORLD. check the documentation

[2020-08-05 01:18] Damilare06 commented on #86
From my run on AIMOS, the field values are different.

[code]

[2020-08-05 01:26] Damilare06 commented on #86
@germasch is this `MPI_allgatherv` call correct? https://github.com/phyboyzhang/wdmapp_coupling-1/blob/5d21c8cbf13bdecee81c5a9e3a60413335edd337/src/dataprocess.cc#L565

Can this collective operation be done without filtering away the processes not within the communicator? as I attempted here
https://github.com/Damilare06/wdmapp_coupling/blob/991aa6c751cd0b246920c7caa01c7f12f4400eaf/src/dataprocess

[2020-08-05 02:12] germasch commented on #86
Frankly, I can't tell. I don't really understand what the code is doing in the first place. I can generically tell you this:

If `comm_z` was created like in GENE (and let's assume there's only 3 dims, x, y, z), then both of these are legal:

[code]

as well as
[code]

assuming either code snipped is called on all procs. In gene, `comm_z` is not one single communicator, it's a bunch of disjoint co

[2020-08-06 14:04] phyboyzhang commented on #86
'''
#include <mpi.h>
#include <new>
#include <iostream>
#include <math.h>

int main(int argc, char **argv){
  int rank,size;
  MPI_Init(&argc, &argv);
  MPI_Comm_size(MPI_COMM_WORLD, &size);
  MPI_Comm_rank(MPI_COMM_WORLD, &rank);

  int mype_x,mype_y;
  MPI_Comm subcomm[2],comm,comm_x,comm_y;

  int dimen[2];
  int rorder = 0;
  int periods[]={1,1};
  dimen[0]=sqrt(size);
  dimen[1]=sqrt(size);

[2020-08-06 16:21] germasch commented on #86
I think that code is almost correct. There's just a little bug in the loop that sums up `num1`, where the upper limit is wrong. I'm less sure what exactly it was meant to show. In particular, using Allgatherv but then having all locate pieces means one might as well have use Allgather, and the actual case of difffering local lengths wasn't tested. In particular the loop over n1 didn't make any sen

[2020-08-06 19:37] phyboyzhang opened #88 "The coupler can run on summit now"
A small modification on GENE part makes wdmapp with coupler run on summit now. That modification is included in the branch

https://github.com/phyboyzhang/gene/commit/51d76c87a8e924ce51060c5622aa3fa87ae4b0ac

[2020-08-06 19:40] phyboyzhang commented on #88
@Damilare06  Can you try  that new branch and check whether Valgrind still reports error?

[2020-08-06 19:52] phyboyzhang commented on #86
@germasch   I think that program provides a basic way to implement MPI_Allgatherv. It's tested right on summit within spack.

[2020-08-11 21:26] #86 closed

[2020-08-11 21:26] #85 closed

[2020-08-12 02:28] Damilare06 opened #89 "TAU test not producing any valid output"
I run the TAU profiler on the coupler using the `effis` setup as shown below (in line with the setup described in the wdmapp documentation [here](https://wdmapp.readthedocs.io/en/latest/effis/tau.html?highlight=tau).

[code]
The code runs successfully, but TAU fails to provide any meaningful output /file for `pprof`
It only produces a set of empty files

[code]

is there anything wrong with the se

[2020-08-12 15:51] khuck commented on #89
Interesting.  Does the coupler use MPI?  I am curious why the archive would be opened but nothing would get written.  That suggests TAU was initialized but not finalized correctly.  Can you also pass the `-vv` (two "v") flag to `tau_exec` - that will enable TAU_VERBOSE output and maybe give us some clues.  Thanks!

[2020-08-12 15:57] Damilare06 commented on #89
The compiler uses `spectrum-mpi` and I have submitted a job with the `-vv` flag and would post its output soon

[2020-08-12 16:12] khuck commented on #89
ok, thanks.  Another question - does the coupler exit cleanly, or does it just get killed when XGC and/or GENE/GEM exit?  If it doesn't call `MPI_Finalize()`, there won't be data if the batch scheduler just kills it.

[2020-08-12 16:18] Damilare06 commented on #89
oh, it doesnt exit cleanly. Thank you very much. I would fic that now and get back to you.

[2020-08-12 17:08] Damilare06 commented on #89
The coupler exits cleanly now, so, it returns valid output now
[code]

Any idea how the profile can be viewed? the documentation says run `pprof`
[code]

Any pointer would be appreciated

[2020-08-13 04:17] khuck commented on #89
Great!  Because the data is in ADIOS2 format, you have to use ADIOS2 tools to view it.  You can try `bpls -lav tauprofile-cpl.bp` or `bpls -D -d -A tauprofile-cpl.bp` to just see the data.  To visualize the data, you can try the tau2svg.py script described here: https://github.com/khuck/wdmapp-config/tree/master/scripts/performance_data - that is what the EFFIS framework is supposed to use.  Thank

[2020-08-13 12:43] Damilare06 commented on #89
Thank you very much for this Kevin.

I can visualize the `tau-adios2` output using `paraprof` directly, So, I would attempt this `tau2svg` approach to visualize the `tau+adios2` output and get back to you.

Thank you once again.

[2020-08-14 16:16] Damilare06 opened #90 "Invalid incoming buffer - ADIOS2"
Hi Eric, I am running:

- the `develop` branch of this [coupler]( https://github.com/SCOREC/wdmapp_coupling)
- the `rpi` branch of [this](https://github.com/wdmapp/XGC-Devel) xgc-devel
- the `rpi` branch of [this](https://github.com/phyboyzhang) gene

When running the coupler with `Sst` mode, I get this output from the coupler as `xgc` attempts to read from it (before this, the `coupler` has succe

[2020-08-15 15:10] #88 closed

[2020-08-17 12:42] Damilare06 commented on #90
@suchyta1 This is a gentle reminder

Also, when I try uninstalling my spack packages, I get the error;

[code]

[2020-08-17 12:47] suchyta1 commented on #90
I've seen this error before, but I don't understand what causes it. You should be able to `rm -r` the directory of what you want to uninstall. And then I think the uninstall sees it as a stale package and it gets removed OK.

[2020-08-17 12:50] Damilare06 commented on #90
okay, thank you very much. I would do just that

[2020-08-17 12:51] suchyta1 commented on #90
BTW, I'm trying to look deeper into what's going on. I didn't see anything immediately obvious.

[2020-08-17 12:53] Damilare06 commented on #90
I cannot `rm -rf` the directory
[code]

[2020-08-17 12:55] Damilare06 commented on #90
I am attempting to clear out my spack and start afresh (Reinstall everything) but this error is preventing me.

Do you know any alternative way to reinstall spack nd everything

[2020-08-17 12:55] suchyta1 commented on #90
Can you try commenting out the `extends` line in the EFFIS spack package. Sometimes I've needed that on Summit.

[2020-08-17 12:57] suchyta1 commented on #90
And above, you should be able to `rm -r` the things in your area, not the external packages. Your `pwd` is a system area for the python install.

[2020-08-17 13:12] Damilare06 commented on #90
spack returns that path as the path to an installed python package
[code]

[2020-08-17 13:16] Damilare06 commented on #90
I have been able to rm -rf within spack. Id start afresh now. Thanks

[2020-08-19 15:19] Damilare06 commented on #89
Hi @khuck , thank you for the support last week.

I rebuilt my spack stack and the corresponding code bases (gene, xgc and coupler) off it due to this issue I faced https://github.com/SCOREC/wdmapp_coupling/issues/90.

At the moment, I have the same setup of code running to finalization when the TAU is not used to run the coupler.

However, when I run with TAU as shown below, it only completes 3 (

[2020-08-19 16:13] phyboyzhang commented on #89
@Damilare06  With the effis script but without using TAU, I can only run up to the 4th step (the last step of 1 rk loop). The xgc  gives the following output:
[code]
I think at that step, the system is doing some operations like restart or others based on the output.  So you need to check why this happens. That may be due to command from the effis script. Because that doesn't appear without runnin

[2020-08-19 16:24] Damilare06 commented on #89
Hi @phyboyzhang , without `TAU`, `xgc` exits cleanly for me with my effis run script.

Lets talk on Slack, I don't want this issue to diverge from the `Tau` problem I am trying to get fixed. Thanks

[code]

[2020-08-19 22:52] khuck commented on #89
Could you leave off the `-ebs` and `-ebs_period` options, and see if that has a difference?

[2020-08-19 23:00] Damilare06 commented on #89
Hi @khuck , I just ran without `ebs` and it worked.

Is there a workaround to using ebs?

[2020-08-19 23:24] khuck commented on #89
that's not a combination that I have tested, sampling combined with adios2 output.   Glad it worked without ebs.

without ebs...

The other applications (XGC, GENE, GEM) have been instrumented with the perfstubs library: https://github.com/khuck/perfstubs

If you don't sample (ebs) or instrument, you won't see details from the coupler code, but you'll see MPI, ADIOS2, and other calls that have bui

[2020-08-19 23:37] Damilare06 commented on #89
Thank you very much Kevin, I would work with these instructions

[2020-08-20 00:21] Damilare06 commented on #89
Hi Kevin, in my attempt to view the `adios2` output, the `tau2svg` tool returns this syntax error;
[code]
My adios2 install depends on python 2.7 though

[2020-08-20 12:47] Damilare06 commented on #89
Good morning @khuck , using the instructions you gave above, I have been able to link against `perfstub` and add a few function timer calls to the coupler.

However, the resulting output `tauprofile-cpl.bp` still returns a segfault when I try to visualize it with the method I described above

[2020-08-20 23:07] khuck commented on #89
Yes, you need python3 to parse the data.  ADIOS2 also needs to be built against the same python3 installation.  On summit, I think I typically use anaconda because the modules are pre-installed.

If you run `python3 -m pdb tau2svg.py ...` you should be able to debug the script, unless it crashes out of python completely...

[2020-08-24 01:11] Damilare06 commented on #89
Hi @khuck  and @germasch , please what tools can I use to analyse the `adios2` results locally?

I have the files but the `summit` python issue prevents me from converting it to the json format.

Thank you very much

[2020-08-24 04:06] Damilare06 commented on #89
More importantly, I applied `perfstub` instrumentation to the coupler's driver [here](https://github.com/Damilare06/wdmapp_coupling/blob/a3fe9e7f7ce6b1a6d510eade73543d13c8c7ce74/test/cpl.cc) and within functions of interests e.g. [here](https://github.com/Damilare06/wdmapp_coupling/blob/a3fe9e7f7ce6b1a6d510eade73543d13c8c7ce74/src/adios2Routines.h#L148) but I cannot see any of the timing data with

[2020-08-24 14:38] khuck commented on #89
Sorry for the confusion - it looks like you know to run without the `-adios2` flag and that will write profile.* files that can be visualized with either `pprof` (the command line tool) or ParaProf.

As for the missing timers... when you compiled the instrumented code, did you pass the flag `-DPERFSTUBS_USE_TIMERS`?  Without that flag, the PerfStubs macros will just get defined as no-ops and they

[2020-08-24 14:40] Damilare06 commented on #89
No, I didnt pass the flag. I would do that now and get back to you. Thank you very much

[2020-08-24 15:22] Damilare06 commented on #89
Thank you @khuck I can see the functions now with that flag.

[2020-08-24 17:54] khuck commented on #89
Great!

[2020-08-24 18:21] Damilare06 commented on #89
Hi @khuck there appear to be some `gcc/thread` routines dominating the timing... any idea how to turn these off/ mute so i can observe

![Mean-stat-2](https://user-images.githubusercontent.com/46372584/91081288-e1306100-e614-11ea-8d93-683a61f9912b.jpg)

[2020-08-24 18:28] khuck commented on #89
Do you mean `gomp_thread_start` and `progress_engine`?  Those are the top level functions started by spawned threads, from OpenMP and MPI, respectively.  You can hide them in ParaProf by going to the "Windows -> Function Legend", and right-click on a function you want to enable/disable.  Are you looking at the mean thread profile?  If you look at just the profile for node 0, thread 0, you can see

[2020-08-24 18:32] Damilare06 commented on #89
I am using the mean statistics as an overview for the entire simulation. As opposed to checking individual threads. Is there a better way to get an overview?

[2020-08-24 19:21] khuck commented on #89
no, that's pretty much what the mean thread is for... you could look at the 3D bar charts to see if those are helpful for getting an overall view

[2020-08-25 15:20] Damilare06 commented on #89
Good morning @khuck  and @germasch . Thank you very much for the help in getting here.

From the results of 3 runs -> 1, 10 and 100 timesteps, certain threading costs appear to be increasingly dominating the timing

`gomp_thread_start`, `rxm_conn_progress` and `progress_engine` as shown below.

Do you have any pointers on how to eliminate or reduce this cost? @cwsmith @phyboyzhang

![total-full-pe

[2020-08-30 22:05] khuck commented on #89
I was away on vacation last week, sorry for the delay in replying.  Are you looking at the mean profile?  I don't think you need to worry about those functions at all.  I would primarily look at the performance of thread 0.

`rxm_comm_progress`, `progress_engine`, and probably the `addr <...>` are the top-level functions of the progress threads spawned by MPI.  `gomp_thread_start` is the top level

[2020-08-30 22:10] Damilare06 commented on #89
Thank you very much for this Kevin, I was able to get the correct output by reaching out to Sameer earlier last week.
![overview-stacked-inclusive-25](https://user-images.githubusercontent.com/46372584/91670485-01b45b80-eaec-11ea-8a6b-d58936f6e54c.jpg)

[2020-08-31 18:02] Damilare06 commented on #89
Hi @khuck , are there specialized ways to identify the `hotspots` in instrumented simulations aside the comparison window in `paraprof`.

[2020-08-31 21:06] khuck commented on #89
We are working on some Jupyter notebooks that will provide some automated analysis and visualization, but they are still under development.  In the meantime, yes - ParaProf is the only way to find it at the moment.

Are you wanting to compare multiple runs, or are you comparing across ranks, or are you just trying to find the hotspots for a specific process?

[2020-08-31 23:55] Damilare06 commented on #89
I am trying to get the hotspots for a specific process

[2020-09-01 15:07] Damilare06 opened #93 "High `MPI_Bcast` time cost in the coupler"
Hi Eric,

`MPI_Bcast` is only called once within the coupler at the initialization phase [here](https://github.com/SCOREC/wdmapp_coupling/blob/59465f590b1354de137952abfad8381691ec1b8f/src/importpart3mesh.cc#L28).

Running the coupler under `TAU` shows `MPI_Bcast` as one of the most expensive routine within the coupler, although it is only called once -> but the profile shows that under the hood, s

[2020-09-01 15:35] suchyta1 commented on #93
I'm adding Philip Davis on the reply. He knows more about the details of
SST than I do.

On Tue, Sep 1, 2020 at 11:07 AM Abolaji Damilare Adesoji <
notifications@github.com> wrote:

--
Eric Suchyta
Oak Ridge National Laboratory
Scientific Data Group
Building 4100, C234
(865) 576-6340
https://suchyta1.github.io/

[2020-09-01 15:42] cwsmith commented on #93
@Damilare06 Where does the 400 calls per timestep number come from?  If there are 3500 calls across all processes, and four processes, running 25 timesteps then I get 35 calls per time step (`3500 calls / 4 processes / 25 steps = 35 calls/process/step`).

[2020-09-01 15:47] Damilare06 commented on #93
Please find attached the log for 1 timestep.

MPI_Bcast is called 428 times in total

![total-stats-1](https://user-images.githubusercontent.com/46372584/91874963-d85d1200-ec48-11ea-8d1b-be0700fecc8d.jpg)

[2020-09-01 15:55] Damilare06 commented on #93
@cwsmith I have updated the 400 total to 100 (428 total `calls` /4 `processes`)

[2020-09-01 16:38] philip-davis commented on #93
If I am reading this trace correctly, it looks like in each timestep there are 68 calls to BeginStep() and 32 calls to EndStep(). I would expect at least two MPI_Bcast per reader-side BeginStep() per process and two per writer-step EndStep(), so that accounts for some. @eisenhauer has a much better understanding of the control plane implementation than I do, so he will have a better idea what scal

[2020-09-01 16:45] philip-davis commented on #93
Also, would it be possible to do EBS with tau? That might give an idea which Bcasts are expensive here.

[2020-09-01 16:50] Damilare06 commented on #93
There are two instances of both the `BeginStep`  and `EndSteps()` timing in the outputs... their total sums up correctly. 68 + 32 `BeginSteps` and 32 + 68 `EndSteps()`.

`ebs` failed with adios2 routines within the code and @khuck  suggested the perfstubs instrumentation we reverted to [here](https://github.com/Damilare06/wdmapp_coupling/tree/perfstubs) that produced these outputs

[2020-09-01 17:42] philip-davis commented on #93
Okay, I didn't notice there were two separate instances of each. Is the 68/32 split writer/reader, or something different?

That quantity of broadcasts is at least within a factor of two of what I would expect from that number of BeginStep and EndStep operations. It's possible that a large chunk of the MPI_Bcast time is coming from IO::Open, as 3 of the 4 processes will be sitting in an MPI_Bcast

[2020-09-01 17:43] eisenhauer commented on #93
Hi all.   A couple of notes.  SST does two BCasts per timestep on both the reader and writer sides.  For the writer, it happens in EndStep (after consolidating metadata from ranks, the bcast distributes control information) and for the reader it's in BeginStep (distributing timestep metadata received from the writer).   In each case, there's a BCast of a size value, followed by a bulk BCast of var

[2020-09-01 18:02] khuck commented on #93
...to clarify, the EBS+ADIOS2 combination is only a problem when ADIOS2 is used to write out the TAU data.  In this case, where Abolaji is writing out the TAU data to regular profiles, EBS should work... but it wouldn't be useful in this case.

What *would* be useful, but is currently broken on POWER9 is callsite profiling.  If you run with `export TAU_CALLSITE=1`, TAU uses the libunwind library t

[2020-09-01 18:11] Damilare06 commented on #93
Thank you very much. I do not know the reason for the split and I would try the `RendezvousReaderCount` and `TAU_CALLSITE` suggestions once I can get nodes on Summit. Based on this new knowledge, the `MPI_Bcast` calls within the coupler can be split into:
- non-`adios2` related calls: We only have 1 instance of calling `MPI_Bcast`
- `adios2` related calls
We have 13 adios2 read/write within the co

[2020-09-01 19:07] germasch commented on #93
It may be worth thinking about whether the time spent in MPI_Bcast is
just the consequence of the involved MPI processes not calling the
`MPI_Bcast` in a synchronized fashion.

So if those are likely to come from BeginStep/EndStep, you might want to
call MPI_Barrier first, and see if that ends up showing up as the
bottleneck then.

On Tue, Sep 1, 2020 at 2:12 PM Abolaji Damilare Adesoji <
notifica

[2020-09-02 17:23] Damilare06 commented on #93
@philip-davis I updated the coupler to use the `RendezvousReaderCount` set to 0, and it appears to create the sst file at the expected location. However, the reading app (xgc) is stuck waiting for a response from the writer (and cant seem to access the created file). Is there a reader -side parameter to enable it to read/progress?

it hags at:
[code]

How should the reader progress without the wri

[2020-09-02 21:33] #90 closed

[2020-09-03 12:39] Damilare06 commented on #89
Morning @khuck , for comparison across ranks, I can use the paraprof comparison feature. Is there any other method to achieve this?

[2020-09-03 16:31] Damilare06 opened #94 "-DPERFSTUBS_USE_TIMERS FLAG"
I have a coupler `perfstubs` branch that contains the instrumentation needed to time routines and but would need the flag `-DPERFSTUBS_USE_TIMERS=ON`. To use simple `spack install` command you suggested, I modified my coupler packages.py and set it up [here](https://github.com/Damilare06/wdmapp-config/blob/3d46cbb114f7f2ed01fa5ee09e0df6b31dbb3fab/spack/wdmapp/packages/coupler/package.py).

I can b

[2020-09-08 21:17] Damilare06 opened #95 "Coupler -TAU Performance Analysis Plan"
Form the documentation here, we have spelled out our performance analysis overview [here](https://github.com/SCOREC/wdmapp_coupling/wiki/XGC-GENE-Coupling-Performance-Optimization-Approach). The following questions remain unanswered;

- At a high level, what does `AssemDensiSendtoPart3`  do?
This routine is to arrange the 2D density arrays on each process into a global array. It involves the assig

[2020-09-09 18:53] cwsmith commented on #95
@Damilare06 How were the times collected for the four phases?  Is the code on github?  Adding up the times for the four phases for any given process gives a much smaller time than the TAU timing and I'm not sure why.

[2020-09-09 19:02] Damilare06 commented on #95
Yes, I noticed the same, the code is here https://github.com/Damilare06/wdmapp_coupling/tree/perfstub

specifically - https://github.com/Damilare06/wdmapp_coupling/blob/1f72174d5854407ecdf8f0a80ba99c3d12bd8e0b/src/dataprocess.cc#L482

[2020-09-09 19:20] cwsmith commented on #95
I don't see any issues in the https://github.com/Damilare06/wdmapp_coupling/blob/1f72174d5854407ecdf8f0a80ba99c3d12bd8e0b/src/dataprocess.cc#L482 .

I assume the same case and time steps were used for run with TAU timing and the run using `MPI_Wtime()`?

With a timer for the entire `AssemDensiSendtoPart3` function, and the full run of the coupler, we could check if the percentages (`AssemDensiSend

[2020-09-09 19:38] Damilare06 commented on #95
Yes, the same case and timesteps are used.
To be sure, I can replace this tau results table with new ones extracted from this new run with MPI_Wtime.  I have compared them and they are very similar.

okay, I would run once again with an MPI_Wtime for the entire function and see what result it returns.

[2020-09-09 20:01] Damilare06 commented on #95
The timing agrees with the perfstubs output when we compare against the Exclusive time (not including the calls made to other functions)
[code]

[2020-09-09 20:09] cwsmith commented on #95
A timer around the entire contents of `AssemDensiSendtoPart3` would be 'inclusive'.  I don't understand what comparison is being made against the TAU `Exclusive` time.

[2020-09-09 20:18] Damilare06 commented on #95
Yes, my point was that even the `MPI_Wtime` value is way smaller than the exclusive result (disregarding the calls).

Whereas it should be compared against inclusive.

[2020-09-09 20:21] Damilare06 commented on #95
Are there any logical reasons for this? and might an MPI_barrier make the results more similar

[2020-09-09 20:25] cwsmith commented on #95
After checking the TAU documentation, we should ask the TAU folks how much overhead is in the TAU timings.

[2020-09-09 23:15] khuck commented on #95
OK, just cloned the repo and looking at the instrumentation... I also need to catch up on this conversation

[2020-09-09 23:47] khuck commented on #95
@Damilare06 @cwsmith If you're concerned about measurement overhead (which this could very well be) - one observation... remove the instrumentation around `minloc`, `minimalvalue`, and *definitely* `Lag3dInterpolD`.  And probably `ExecuteRealToComplex`.  Those functions are way too small and get called too often to get instrumented.  As a general rule, you shouldn't instrument _everything_ - just

[2020-09-10 03:52] Damilare06 commented on #95
Swapping the `PERFSTUBS_START_STRING/PERFSTUBS_STOP_STRING ` for `PERFSTUBS_SCOPED_TIMER(__func__)` and removing implementations for those functions reduced runtime by about 8% to 79.381 seconds.

However, it does not address the timing mismatch between the `tau` implementation and the MPI_Wtime results for the `AssemDensiSendtoPart3` function; exclusively, `tau` reports 5.988 secs while `mpi` rep

[2020-09-10 15:15] khuck commented on #95
Ah, that all makes sense.  I was going to suggest the callpath setting, glad it was helpful.

MPI_Wtime is just a timestamp, it isn't necessarily inclusive or exclusive.  Without a lot of extra logic and subtracting of child call times it is usually inclusive.

[2020-09-10 16:59] Damilare06 commented on #95
Thank you very much Kevin.

Running the un-instrumented coupler for 1 timestep but with the `MPI_Wtime` shows

[code]
This pales in comparison to the `tau` instrumented code that takes about 81 seconds per process.
Is there a logical explanation for this?

[2020-09-10 17:14] khuck commented on #95
TAU made it faster!  :)

Seriously, though - are you sure you compared them fairly?  That looks like a compiler flag difference, like -O0 instead of -O3.  Did you miss or change a flag?

[2020-09-10 17:56] Damilare06 commented on #95
I would confirm that now

[2020-09-11 15:53] Damilare06 commented on #95
I took your advice and built the coupler (with tau instrumentation) and the coupler without instrumentation (`develop`) with the same setup and the timing for the one without `tau` stays the same

[code]

Might there be a logical reason for the coupler being slow when run without `tau`?

@phyboyzhang  & @cwsmith please can you confirm the run time for 1 timestep?

[2020-09-11 16:22] khuck commented on #95
That's really odd.  I can understand a slight difference, but this is ~3x difference.  The builds should be the same, but you can disable the PerfStubs instrumentation by not defining `PERFSTUBS_USE_TIMERS` at compile time.  Otherwise, the builds should be the same.

[2020-09-11 18:15] Damilare06 commented on #95
I included the MPI_Wtiming into the `tau` instrumented coupler to estimate the runtime for a single timestep and I get an answer similar to the `tau` timing.  Also, I now get similar timing for the non-tau coupler.

However `tau` instrumentation appears a few seconds faster (my non-tau run script was running a different xgc version)

`tau instrumented coupler`
[code]

`coupler@develop (no-tau)`

[

[2020-09-11 18:44] khuck commented on #95
Is it consistently faster?  Sometimes those differences are due to MPI Initialization times, or network variability, etc.

[2020-09-13 15:41] Damilare06 commented on #95
No it is not consistently faster.

[code]
[code]

[code]

[2020-09-25 15:30] cwsmith commented on #95
@Damilare06 For ranks 0 and 1, and ranks 2 and 3, what are the values of the following variables?

`p1->li0`
`p1->lj0`
the min/max/avg of `p3->mylk0[0:p1->li0]`
`p1->n_cuts`
`p3->lj0`

which define the loop ranges here:

https://github.com/SCOREC/wdmapp_coupling/blob/1fa8726657fa356561e015ece53d7a23501eeab4/src/dataprocess.cc#L493-L513

[2020-09-26 13:47] Damilare06 commented on #95
[code]

[2020-09-26 15:11] cwsmith commented on #95
Thank you.

Are `p3->lj0` and `p3->mylk0[0:p1->li0]` based on `p1->npz`, `p3->blockcount`, `p3->versurf[0]`, and/or `p3->versurf[1]` ?

[2020-09-26 18:42] Damilare06 commented on #95
No, Those were results from earlier tests (I have to wait for a while to get summit nodes)
`avg_it: average of p3->mylk0[0:p1->li0]`
[code]

[2020-09-27 03:31] cwsmith commented on #95
Thank you.

And if I'm reading the `Part3Mesh3D::init(...)` function correctly,
https://github.com/SCOREC/wdmapp_coupling/blob/1fa8726657fa356561e015ece53d7a23501eeab4/src/importpart3mesh.cc#L103
`p3->lj0`would be 32 (`p1->lj0*2`) in this case.  Do we have output to confirm that?

[2020-09-27 05:49] cwsmith commented on #95
The repo here (almost) contains the minimal code needed to run the loops being discussed:

https://github.com/cwsmith/dotprod/

@Damilare06 A few more questions:

- From the table here:
https://github.com/SCOREC/wdmapp_coupling/wiki/XGC-GENE-Coupling-Performance-Optimization-Approach#optimizing-the-most-expensive-routine---assemdensisendtopart3
ranks 2 and 3 spend 3.7 seconds in `setup2` for four

[2020-09-27 16:47] Damilare06 commented on #95
Yes, it is correct.
[code]

[2020-09-27 19:28] Damilare06 commented on #95
Yes, ranks 2 and 3 spend 0.925 seconds within `setup2`.

`setup2` code is here https://github.com/SCOREC/wdmapp_coupling/blob/1fa8726657fa356561e015ece53d7a23501eeab4/src/dataprocess.cc#L486-L530

The second dimension of the `tmp` array varies across processes (0&1 have similar values while 2&3 have similar values) and indexes
[code]

[2020-09-28 15:26] Damilare06 commented on #95
The `coupler@develop` code with `MPI_Wtime` is [here](https://github.com/Damilare06/wdmapp_coupling/tree/wtime)

[2020-09-28 19:54] cwsmith commented on #95
Thank you.  For one call to the `setup2` code https://github.com/cwsmith/dotprod recorded .356 seconds which is 90% of the 'real' timing posted above (1.58/4 = .395).  I think this is close enough to proceed with work on tuning the simple code instead of worrying about running multi-node summit jobs.

In the tables/figures showing call counts on each process here:
https://github.com/SCOREC/wdmapp_

[2020-09-28 20:31] Damilare06 commented on #95
If you are running develop, then there currently exists no tau` implementation in-there. So the `mpi_gather` shouldn't be from `tau`

[2020-09-28 20:44] khuck commented on #95
Yes, but it might be unstable on Summit.  If you set `export TAU_CALLSITE=1` in the environment before running, TAU will use libunwind to walk up the call stack at each timer to get its parent function.  Unfortunately, libunwind is unstable on ppc64le (known bug).  But it's worth a try...

[2020-09-29 00:08] cwsmith commented on #95
@Damilare06  Thanks for checking the call count for `MPI_Allgather[v]`.  At this point they are not a concern as they are not near the top in the list of expensive calls from the opening post or in this list/figure here: https://github.com/SCOREC/wdmapp_coupling/wiki/XGC-GENE-Coupling-Performance-Optimization-Approach#existing-performance-overview.

As I understand, the figures in the opening post

[2020-09-29 12:38] cwsmith commented on #93
@suchyta1 @philip-davis Thank you again for helping us with ADIOS2.  We are still working to understand the coupler performance and found that the source of the `MPI_Gather` calls is unknown.  In one timestep, each of the four processes is making 29 calls to `MPI_Gather` as shown in the TAU output [above](https://github.com/SCOREC/wdmapp_coupling/issues/93#issuecomment-684952058).  A quick grep sh

[2020-09-29 13:08] eisenhauer commented on #93
Yes, MPI_Gather (and MPI_Gatherv) are used in SST, on the writer-side on a per-timestep basis to consolidate metadata, and on the reader-side during Open() and in some circumstances in BeginStep().

[2020-09-29 13:16] cwsmith commented on #93
@eisenhauer Thank you for the info and quick response.

[2020-09-29 13:18] cwsmith commented on #95
The ADIOS2 folks confirmed that ADIOS2 is calling `MPI_Gather[v]`: https://github.com/SCOREC/wdmapp_coupling/issues/93#issuecomment-700690705 .

[2020-09-29 18:15] #87 closed

[2020-09-29 18:17] #78 closed

[2020-09-29 18:18] #63 closed

[2020-09-29 18:18] #66 closed

[2020-09-29 18:18] #79 closed

[2020-09-29 18:25] cwsmith commented on #89
I'm guessing this is all set.  Please reopen this issue if needed.

[2020-09-29 18:25] #89 closed

[2020-10-02 15:06] Damilare06 opened #97 "SST engine hangs at adios2_open"
To test the new GEM-XGC coupler [here](https://github.com/Damilare06/wdmapp_coupling/tree/sz_debug), the very first adios2 send to the coupler hangs at `adios2_open` [here](https://github.com/Damilare06/GEM-parallel-coupling/blob/a9552617992fea9a292d711fd26109b8ef2a976c/external_coupling.F90#L116) when I use SST but proceeds successfully when I switch to BP4.

I have confirmed the value of all the

[2020-10-02 15:16] suchyta1 commented on #97
The immediate feedback is that I think I remember having some kind of issue with `comm_self`, but I don't remember if it was this kind of thing.

[2020-10-02 15:58] Damilare06 commented on #97
Thankyou @suchyta1 , switching the communicator to `mpi_comm_world` breaks the code (gem fails to run). Gem returns no error and no output.

The `adios2obj` is initialized with `mpi_comm_world` [here](https://github.com/Damilare06/GEM-parallel-coupling/blob/3906712cc78e171f3d137f30d7a0b56c33345884/adios2_comm_mod.F90#L28), so the erratic behaviour is confusing

[2020-10-02 17:38] Damilare06 commented on #97
Even with a switch to `mpi_comm_world` [here](https://github.com/Damilare06/GEM-parallel-coupling/blob/e399bf500d5630be88b5f4166d00a0cc00f8eeb2/external_coupling.F90#L54), the send still hangs at sst adios2_open

[2020-10-03 23:33] jycheng1989 commented on #97
Does it pass ' call mpi_barrier(mpi_comm_self,ierr)'? @Damilare06

[2020-10-03 23:36] jycheng1989 commented on #97
The problem could come form 'adios2_type_integer4'. If I remember correctly, for adios2, integer8 is used by default.

[2020-10-04 02:47] Damilare06 commented on #97
Yes, it passes the mpi_barrier @jycheng1989 .
I noticed the error to be within the `adios2cfg` setup. I have updated it and it passes the `dios2_open` call now but the coupler fails immediately it connects to the sst file.

[2020-10-04 05:29] jycheng1989 commented on #97
Does it run once? I don't see any save operation for io or engine? @Damilare06

[2020-10-04 12:30] Damilare06 commented on #97
This is the preprocessing phase, so I only need to perform the send once... no need to save the io or engine.

But no, the operation isn't successful for a reason I am debugging as the coupler fails as soon as it connects to the bp.sst file

[2020-10-04 12:30] Damilare06 commented on #97
@suchyta1 the coupler fails the moment it connects with the sst file. What might the cause be ? I believe I had similar issue with xgc-gene coupler but cant find the issue.

the coupler returns
[code]

[2020-10-05 11:44] Damilare06 commented on #97
The above error appears to be related to the notion of `subformats` being `NULL` within adios2... the error was found [here](https://github.com/ornladios/ADIOS2/blob/a8fd466215cd102c598b663e4a430965630b9ad9/thirdparty/ffs/ffs/fm/fm_formats.c#L1258)

[2020-10-05 19:19] cwsmith commented on #97
@Damilare06 is the coupler and GEM using the same adios2 install?

[2020-10-05 19:32] Damilare06 commented on #97
No they arent, the coupler links against my `spack` install of adios2 while gem and xgc use `junyi's` install

[2020-10-05 19:35] Damilare06 commented on #97
[code]

[2020-10-06 10:01] suchyta1 commented on #97
Related to @cwsmith question, are the different builds different ADIOS version or different compilers? Discrepant enough versions might have different formatting things to cause issues reading SST from an older/newer SST version. I don't think different compilers _should_ matter, but I'm always weary of it.

[2020-10-06 11:42] Damilare06 commented on #97
Yes @suchyta1 , the `gem` code is built with the `pgi` compiler and the linked `adios2` build also appears to be compiled using `pgi`. I would attempt to rebuild gem with my spack install of `adios2` to see if this error is resolved.

[2020-10-06 12:00] Damilare06 commented on #97
pgi considers my adios2 install as corrupted or old

[code]

[2020-10-06 12:03] suchyta1 commented on #97
`.mod` files are sensitive to the compiler (and version) used. It doesn't usually work to use PGI to try to compile with a module that was built by GNU

[2020-10-06 12:04] Damilare06 commented on #97
oh okay. Thank you. What are my alternatives right now though?

[2020-10-06 12:06] suchyta1 commented on #97
Can GEM and XGC not compile with the same compiler?

A separate thing to try, make sure the ADIOS with PGI and the ADIOS built with GNU are the same ADIOS version.

[2020-10-06 12:14] Damilare06 commented on #97
Both XGC and GEM use the pgi compiled adios2. But I should have another coupled XGC installation built with gcc.
I can attempt to run that XGc version with GEM in hopes that they couple - supporting or debunking the adios2 version issue

Yes, both adios 2 versions are exact - adios2-2.6.0

[2020-10-06 12:20] suchyta1 commented on #97
Oh, right. Sorry I got things mixed up from above. And is the coupler that same PGI compiled 2.6.0?

[2020-10-06 13:17] Damilare06 commented on #97
The coupler uses the same adios2 version - 2.6.0 but it is gcc compiled

[2020-10-06 15:17] phyboyzhang commented on #97
@Damilare06  I met the same problem. Maybe we would try wdmapp-effis. It looks that it already supports GEM building. Hope that it supports gcc compiler.

[2020-10-09 16:05] phyboyzhang commented on #97
This problem is solved by building GEM based on a modification of @germasch's CMakelists.txt,  as  well as the cmake fold [here](https://github.com/wdmapp/GEM).  The GEM version built by cmake is [here](https://github.com/phyboyzhang/GEM-parallel-coupling/tree/gemcmake), and the job script to run the codes is [here]( https://github.com/phyboyzhang/testcases/tree/gem_aimos) .

[2020-10-22 14:01] Damilare06 commented on #97
Hi all, as stated above, this issue is solved for AiMos; However, when I revert to `summit`, I still face the same issue with spack installs of both codes (gem~cmake and coupler) that currently runs on `AiMOS`.

The `wdmapp-config` branch used to install these is [here](https://github.com/Damilare06/wdmapp-config/tree/gemcmake)
The `GEM` code built is [here](https://github.com/Damilare06/GEM-paral

[2020-10-29 15:24] suchyta1 commented on #97
Have you tried both RDMA and EVNET for the SST transport types? I can't think of why BP4 should be OK but SST would hang, apart from an SST bug. I've looked through and I don't see anything obviously wrong, but I'll try to scrutinize further.

[2020-10-29 17:03] Damilare06 commented on #97
Yes, the existing setup uses RDMA. I would test with the EVNET option now. Thank you

[2020-10-30 14:27] Damilare06 commented on #97
Yesterday, I proceeded to run the testcase on `summit` using the `effis` setup.

For the gene-xgc case only the wdmapp `effis@develop` works for my case, so I installed it for this run.

The results.

Running the pgi installed GEM returns an unintuitive segfault error without any valuable debugging info

[code]

WIP

[2020-11-03 11:42] suchyta1 commented on #97
@Damilare06 Can you attach the full log of the hanging output, in addition to the four lines about what's tying to open? Thanks!

[2020-11-03 13:21] Damilare06 commented on #97
I would post this once I regain access to summit. There is a project-wide issue impeding our access at the moment. Thank you

[2020-11-05 13:01] Damilare06 commented on #97
Good Morning Eric, Please find attached the complete log for the coupler and gem
[cpl.463369.txt](https://github.com/SCOREC/wdmapp_coupling/files/5494475/cpl.463369.txt)
[gem.463369.txt](https://github.com/SCOREC/wdmapp_coupling/files/5494476/gem.463369.txt)

[2020-11-05 15:31] Damilare06 commented on #97
From @cwsmith  suggestion on the call earlier today, this is the `ldd` results of gem at `spack-build` time and at `run` time.

[gem_run.txt](https://github.com/SCOREC/wdmapp_coupling/files/5495311/gem_run.txt)
[gem_spack.txt](https://github.com/SCOREC/wdmapp_coupling/files/5495312/gem_spack.txt)

[2020-11-06 10:54] suchyta1 commented on #97
@Damilare06 Do you know if it's the open that's the hanging call (vs. begin step, end step, etc.) in `cpl_send_int`? It looks like it's the open, but it's not explicitly determined in the output. Regardless, could you add @philip-davis? I want to show this to him. A sending open shouldn't be hanging like this. You can try setting `RendezvousReaderCount` to `0` as an XML SST parameter, but I'd be r

[2020-11-06 14:29] Damilare06 commented on #97
Yes, it hangs at `Open`

PFA the EVPATH output for both executables
[cpl.evpath.txt](https://github.com/SCOREC/wdmapp_coupling/files/5501674/cpl.evpath.txt)
[gem.evpath.txt](https://github.com/SCOREC/wdmapp_coupling/files/5501675/gem.evpath.txt)

Setting the `RendezvousReaderCount` parameter to `0`, `gem` proceeds till the end while the `coupler` segfaults with no intuitive error message. The `Ren

[2020-11-06 14:36] suchyta1 commented on #97
@Damilare06 No problem on the adding. I just wasn't sure if he could see this. I hadn't remembered if the other issue he was on was in this specific repo. But it was.

[2020-11-06 14:59] philip-davis commented on #97
@Damilare06 Could you try rebuilding with libfabric 1.9.0 to address the hang when not using evpath? There seems to be some issue with libfabric >= 1.9.1 and summit that causes this hang.

[2020-11-06 15:45] Damilare06 commented on #97
Thank you for the pointer @philip-davis . I rebuilt both codes with libfabric 1.9.0 and switched back to RDMA but I still get the same hang

[gem.fabric.txt](https://github.com/SCOREC/wdmapp_coupling/files/5502092/gem.fabric.txt)
[cpl.fabric.txt](https://github.com/SCOREC/wdmapp_coupling/files/5502093/cpl.fabric.txt)

[2020-11-06 16:16] jycheng1989 commented on #97
@Damilare06 Can you turn off the RMDA? Just use the SST with socket. Just a test.

[2020-11-06 16:48] Damilare06 commented on #97
I tried it and still get the same hang
[cpl.socket.txt](https://github.com/SCOREC/wdmapp_coupling/files/5502406/cpl.socket.txt)
[gem.socket.txt](https://github.com/SCOREC/wdmapp_coupling/files/5502407/gem.socket.txt)

[2020-11-06 16:59] jycheng1989 commented on #97
@Damilare06 I don't fully understand the meaning of the logs. I still see the RDMA in the logs.  Are the RDMA fully turned off?

[2020-11-06 17:04] Damilare06 commented on #97
I removed the explicit parameter setting within the adios2 setup, thus allowing it use its default configuration for `DataTransport` - which still happens to be RDMA I presume.

coupler code:
/gpfs/alpine/fus123/scratch/damilare/gem-xgc/wdmapp_coupling-gem/src

GEM:
/gpfs/alpine/fus123/scratch/damilare/gem-xgc/GEM-parallel-coupling

Run dir:
/gpfs/alpine/fus123/scratch/damilare/gem-xgc/phyboy_test

[2020-11-06 17:06] suchyta1 commented on #97
Yes, it'll default to trying RDMA if it thinks it's available.

On Fri, Nov 6, 2020 at 12:04 PM Abolaji Damilare Adesoji <
notifications@github.com> wrote:

--
Eric Suchyta
Oak Ridge National Laboratory
Scientific Data Group
Building 4100, C234
(865) 576-6340
https://suchyta1.github.io/

[2020-11-06 17:50] Damilare06 commented on #97
Moreover, I compared the library dependencies between the GENE-CPL setup (that works) and the GEM-CPL setup

For the coupler, the differing libraries (ignoring the `libfabric fix)
[code]

could any of these be interfering with the SST mode? considering that BP4 works fine

[2020-11-06 19:49] jycheng1989 commented on #97
@Damilare06 I don't think GEM will care about the different libraries. Could you try the GENE-CPL setup for GEM-CPL?

[2020-11-06 20:40] philip-davis commented on #97
I'd like to reproduce this issue on Summit if I can; is there somewhere that the XGC/GEM binaries and the run scripts that you are using are available? I am able to build the coupler from linked branch.

[2020-11-06 21:01] Damilare06 commented on #97
At the moment, the bug appears within the GEM-CPL branch (so not currently running XGC).

GEM exec: /gpfs/alpine/fus123/scratch/damilare/gem-xgc/GEM-parallel-coupling/build/gem

CPL exec: /gpfs/alpine/fus123/scratch/damilare/gem-xgc/GEM-parallel-coupling/build/test/gemxgc
CPL code: /gpfs/alpine/fus123/scratch/damilare/gem-xgc/wdmapp_coupling-gem

Run script: /gpfs/alpine/fus123/scratch/damilare/ge

[2020-11-06 21:21] philip-davis commented on #97
Would it be possible to put a copy somewhere in
`/gpfs/alpine/proj-shared/fus123/`?

On Fri, Nov 6, 2020 at 4:01 PM Abolaji Damilare Adesoji <
notifications@github.com> wrote:

[2020-11-06 21:31] Damilare06 commented on #97
I have copied both codes and the run directory to /gpfs/alpine/proj-shared/fus123/damilare/debugging

[2020-11-07 16:16] phyboyzhang commented on #97
@Damilare06  When I ran GEM code on summit and I tried to print sth by modifying  several lines in gem_main.F90 as follows
[code]
I got the following result
[code]
As you can see,  before  "call cce_initialize",  all 18 processes work correctly. But after  " call cce_initialize", only the process of "root = 0" prints the output. So if all other processes don't print anything, they will not partici

[2020-11-07 17:54] Damilare06 commented on #97
Thank you for the pointer @philip-davis I just re-ran `job-summit-gcc.sh` and I cannot reproduce the error as all 18 or 6 processes run for GEM print before and after `cce_initialization`

[code]

[2020-11-08 17:46] Damilare06 commented on #97
As a side note, I ran the `gemxgc` coupler with the previous `gene` setup and was able to successfully read incoming `adios2` inputs from `gene` with `sst` mode.
[code]

Switching `gene` for `gem` in this setup still hangs.

This alludes to the fact that gem might be the culprit in this setup. So I would run through the initialization of the `gem` `adios2` objects and confirm they are initialized

[2020-11-09 15:49] Damilare06 commented on #97
`gem` appears to hang at `adios2_end_step` while the coupler hangs at `adios2_beginstep` and `SstVerbose` fails to give any reason for the hang.

@jycheng1989  Please can you point me to a working SST coupling testcase between `gem` and `Xgc`. I am beginning to doubt the correctness of the version of GEM I have or something. Thanks

[2020-11-09 17:55] jycheng1989 commented on #97
@Damilare06

I think I have tested the code with PGI compiler. Let me look into the bugs with the coupler. And I will re-test the original case.

@phyboyzhang I thought you have tested the original code. Can you confirm it?

[2020-11-09 17:57] Damilare06 commented on #97
Yes, we also tested the `pgi` compiled gem and xgc and it worked but transferring from the pgi compiled `gem` to the `gcc` compiled coupler started this issue. Then we ported `gem` to `gcc` and cmake and the bug persists... pretty confusing

[2020-11-09 18:21] phyboyzhang commented on #97
@Damilare06  A better idea is to write a simple executable within GEM and another one within coupler. Both executables link the respective adios2 lib. Then try whether the Adios2 works. If it works, some routines in GEM is not right, like memory leak. If it doesn't work, the building of the code is not right.

[2020-11-09 18:58] Damilare06 commented on #97
I would set this example up now

[2020-11-09 20:17] Damilare06 commented on #97
Hi @phyboyzhang I just built a sample test executable within the `gem` and it also hangs at the same spot for SST

[2020-11-09 20:40] phyboyzhang commented on #97
Can you create a branch for the test executable for both gem and coupler?

[2020-11-09 22:36] Damilare06 commented on #97
`cpltest` branch of https://github.com/Damilare06/GEM-parallel-coupling
`gemxgc` branch of https://github.com/Damilare06/wdmapp_coupling

[2020-11-10 01:45] phyboyzhang commented on #97
Ok. A separate executable is better, even a separate one without MPI. There are examples:  https://github.com/SCOREC/adios2_examples/tree/devel/examples/app1

[2020-11-10 18:24] Damilare06 commented on #97
Building the separate coupler `cpl_test` and linking against the OLCF `adios2` module returns an `invalid buffer format`  error within the coupler - not sure why.

So, I switched to using the spack installs of my `adios2` but then it returns an `adios2 type` error
[code]

which I resolved by switching the `adios2_type` from `dp` to `real` to match the example -

Even now, it hangs at the same spot

[2020-11-10 18:55] Damilare06 commented on #97
update: When I switch to the spack build of adios2 that I used for the `gene-xgc` coupling project, the standalone coupler successfully sends to the gemxgc `coupler`

[code]

[2020-11-10 19:07] Damilare06 commented on #97
A comparison of both `adios2 installs "by different spack instances" show no significant change. but the new spack was created when @cwsmith  suggested that the spack we used for the `gene-xgc` coupling might be out of date.

Not willing to break any of my dependencies, I just pulled a new spack instance and worked from there for the `gem-xgc` project.

[correct_adios2_spec.txt](https://github.com

[2020-11-10 20:04] philip-davis commented on #97
You may have already done this, but if not, is there a recent @master build
of ADIOS2 that you can test?

On Tue, Nov 10, 2020 at 2:07 PM Abolaji Damilare Adesoji <
notifications@github.com> wrote:

[2020-11-10 20:10] Damilare06 commented on #97
No I havent done this. I would test the `gem-cpl` setup with a new `adios2@master` install to test if it works.

PS: I just ran the `gem-cpl` sst transfer and it works using my old spack `adios2` install

[2020-11-10 20:28] Damilare06 commented on #97
**update**
I just tried using adios2@master and `gem` hangs at `adios2_open`

[code]

[2020-11-12 15:29] Damilare06 commented on #97
The `build` instruction I used for both `gem` and the `coupler` both involves using the `spack setup` command.

- Identify the code versions

`gem` - the `gemcmake` branch of `git@github.com:Damilare06/GEM-parallel-coupling.git`
`coupler` - the `gemxgc` branch of `git@github.com:Damilare06/wdmapp_coupling.git`

- Generate the `spconfig` file for each code
[code]
- Modify the `spconfig` file to poi

[2020-11-12 20:23] philip-davis commented on #97
I have the codes built, and I'm trying to run the test case. Can the coupler use the same adios2cfg.xml as gem does?

[2020-11-12 21:08] Damilare06 commented on #97
The coupler doesnt use the optional `adios2cfg.xml` file. We hardcoded the parameters within `src/adios2routines.h`

[2020-11-12 23:11] phyboyzhang commented on #97
@Damilare06  Your above statement is not comprehensive. Shall I git pull wdmapp-config in my account?

[2020-11-12 23:19] Damilare06 commented on #97
Apologies if it seems that way.

If you have the `adios2` install we used for the `gene-xgc` coupling work. Then there shouldn't bee the need to git pull `wdmapp-config`

However, you might have to edit the `url` section of your `spack/wdmapp/packages/gem/package.py` to point to your private branch of gem and do the same thing for the coupler.

That way the, these commands should work easily

[cod

[2020-11-14 23:58] jycheng1989 commented on #97
@Damilare06 I was busy at the APS-DPP meeting. Now I have time the find what's going on. I want to make these points below clear before I move on.

1. The problem is between GEM and coupler.

2. The hang point is in the subroutine：cp_send_int. This subroutine does exchange the mapping coefficients.

3. The specific line is 'adios2_open'

Please let me know if I am not correct here.

[2020-11-15 00:15] Damilare06 commented on #97
Yes, that was the issue as of earlier this week.

When I built gem and the coupler with a different adios2 (the same install that supports the gene-xgc coupling), there is no hang.

It appeared to be some version issue I haven't been able to trace. Moreover, I tested with `adios2@master` and it still hangs.

[2020-11-15 00:18] jycheng1989 commented on #97
@Damilare06 So the issue comes from ADIOS2. Could you specify which version from GEM and coupler?

[2020-11-15 00:20] Damilare06 commented on #97
Theyre all `adios2-2.6.0` installed by spack

[2020-11-15 00:21] Damilare06 commented on #97
I posted the spack spec results of the two different adios2; `correct` signifies the gene-xgc adios2 that currently works for the gem coupling case while `wrong` specifies the one that hangs at the same spot as master

[2020-11-15 00:36] jycheng1989 commented on #97
![Screenshot from 2020-11-14 17-26-26](https://user-images.githubusercontent.com/32224346/99159917-b21f0e00-269e-11eb-99ab-bb18d9a039d2.png)

There are four different libs. It is a little difficult to deal with it just by ourselves. Is this issue related to the data exchange between FORTRON and  C/C++? We could provide what we have found to ADIOS2 developer (I saw philip submitted the ticket).

[2020-11-15 00:40] Damilare06 commented on #97
Yes, I noticed that.
Moreover, only the `sz` library appears to be downgraded. The `correct` spack setup is the older version (from August 2020) and the `wrong` one is the latest one.
So, I wonder why there is an `sz version downgrade from `2.0.2` to `1.4.12`

[2020-11-15 00:49] jycheng1989 commented on #97
It's insteresting. I think that what we can do is to change the lib one by one from the old to the new. Then we could find which lib matters. As you mentioned, sz could be the one. But I am afraid there are some dependencies between libs or the old libs are not available in summit. Anyway, I am very glad to hear the coupler works now.

[2020-11-19 05:12] Damilare06 commented on #97
I have just confirmed this to be true. I initially built the executables with the same `adios2` but updated their `libfabric`  dependency to be `<1.9.1`.

Today, I reinstalled `adios2@2.6.0` with `libfabric@1.9.0` and this error no longer exists.

Thank you very much for the help

[2020-12-20 15:15] phyboyzhang opened #100 "Issue of building xgc-devel with GCC on Summit and AIMOS"
I tried to build Junyi's version of xgc-devel for the coupling with adiabatic electrons on summit with GCC compiler via Spack. The link of this version is here:  https://github.com/jycheng1989/XGC-Devel/tree/diiid-summit-correct .  The xgc-compile-definition includes:
[code]
These compiling options are the same with that provided by
[code]
The configuration was passed. But making the code hit the

[2020-12-20 15:38] phyboyzhang opened #101 "Issue of Building XGC-User by GCC on AIMOS and Summit"
I tried to build Junyi's version of XGC-User for the coupling with adiabatic electrons s on AIMOS and Summit with GCC compiler. The link of this version is here: https://github.com/Damilare06/XGC-User. The xgc-compile-definition can be chosen the same with that provided by
[code]
Making the code hits the following problem:
[code]
That piece of code is included in XGC1/charge.F90 as
[code]
If comme

[2020-12-23 19:45] phyboyzhang opened #102 "Can pgi compiler compile adios2 with CXX binding straightforwardly?"
I tried to build coupler with PGI compiler. But it then suffers the error of compiling adios2 with CXX binding:
[code]
From the "Building on HPC Systems" section of  https://adios2.readthedocs.io/en/latest/setting_up/setting_up.html ,  it looks that PGI compiler can not compile adios2 with C++ binding straightforwardly.

[2021-01-03 10:20] jycheng1989 commented on #101
@phyboyzhang I can not find the sourcecode. Is it solved?

[2021-01-03 11:31] jycheng1989 commented on #100
@phyboyzhang I updated the repo to fix the bug, The mismatch comes from different kinds of coupling module.  But I fixed it.

 I think you should use nvcc to ensure kokkos is working, which you should have noticed.

[2021-01-03 14:50] phyboyzhang commented on #101
@Damilare06 can you give the access of your repo of xcc-user to @jycheng1989 ? Thanks.

[2021-01-03 19:15] Damilare06 commented on #101
I sent a request to @jycheng1989

[2021-01-03 19:32] jycheng1989 commented on #101
Please try to add a blank line before the loop like

 611     ! Need to interpolate to uniform grid after 2D-->1D tranformation
 612
 613     do i=1,grid%npsi_surf2
 614       tmp00_surf2(i)=tmp00_surf(grid%psi_surf_map(i))
 615     end do

delete '\' in line 611

[2021-01-04 15:29] phyboyzhang commented on #100
@jycheng1989 I still met the following error by using your latest update
[code]
By the way, can you point out which modules are not consistent?  Thanks.

[2021-01-07 01:46] phyboyzhang opened #103 "pgi compiler on summit is not able to compile CXX function template correctly"
The coupler has a function template "distriDataAmongCollective"  in the header file "sendrecv_impl.h" and that template is invoked by "gemXgcDataproc.cc" file. The code can be compiled with pgi compiler. But the execution shows that the function "distriDataAmongCollective" is not compiled correctly.  If I change template name  "distriDataAmongCollective"  to "istriDataAmongCollective" but still ke

[2021-01-07 12:27] cwsmith commented on #103
@phyboyzhang

There are critical details missing for me to attempt to reproduce this behavior.  Please provide the following info:

- branch, repo, and hash of the coupler version used
- the `cmake` command used to build the coupler
- the modules loaded on summit when running `cmake` and `make`

[2021-01-07 15:23] phyboyzhang commented on #103
The document for building and running the codes is given here:  https://github.com/SCOREC/wdmapp_coupling/wiki/Building-GEM-COUPLER-XGC-User-with-PGI-compiler-on-summit

[2021-01-07 17:07] cwsmith commented on #103
Thank you.

@phyboyzhang What was the fix for the template issue?

[2021-01-07 17:17] phyboyzhang commented on #103
I moved that template function into the corresponding  class as a class routine.  Then the compiler is able to  recognize and compile it.

[2021-01-07 17:59] cwsmith commented on #103
Would you please push the change to the repo?

[2021-01-07 20:07] phyboyzhang commented on #103
Here is update:  https://github.com/phyboyzhang/wdmapp_coupling-1/tree/pgitemplate

[2021-01-08 22:21] phyboyzhang commented on #103
It looks that the PGI compiler on summit can not correctly compile the absolute function "abs" of CXX. With the following lines
[code]
I got the error output:
[code]
Obviously, ''abs'' function maps any input into zero.

[2021-01-08 22:57] phyboyzhang commented on #103
But by adding the prefix std::, std::abs  works then, while gcc compiler doesn’t need that prefix.

[2021-01-22 14:49] Damilare06 opened #104 "Coupler versurf mismatch within DistriPotent processing from XGC"
I currently run the following:

`CPL` -> `gem-xgc` branch of  https://github.com/Damilare06/wdmapp_coupling.git
`XGC` -> `gemCouple` branch of https://github.com/Damilare06/XGC-User.git
`GEM` -> `pgigem` branch of https://github.com/Damilare06/GEM-parallel-coupling

The coupler fails during processing the field values received from xgc within the `DistriPotentRecvfromXGC` [here](https://github.com

[2021-01-23 19:41] Damilare06 commented on #104
Further investigation revealed that the `thetaflx_ind_pot` array was initialized to that value

[code]

[2021-01-23 23:24] cwsmith commented on #104
@Damilare06 Interesting.  Where is `thetaflx_ind_pot` initialized?  Can you paste the link to the line(s) of code?

[2021-01-24 01:50] Damilare06 commented on #104
Its initialization can be found [here](https://github.com/Damilare06/wdmapp_coupling/blob/7233a1ca10643be3684720a16d12548e41450e06/src/importpart3mesh.cc#L596)

[2021-01-27 04:18] jycheng1989 commented on #104
I want to check whether it is the DIII-D case or not.
If so, the dimension of field and density is not the same for GEM and XGC, since the DIII-D case in the XGC side includes  the open field line region. Please check the original GEM-XGC coupling case and find the correct dimension.
@phyboyzhang @phyboyzhang @Damilare06

[2021-01-28 19:57] cwsmith commented on #104
Hi @jycheng1989.  As I understand, we are testing has concentric flux surfaces ( 'cyclone' ?).  The input files are here:

https://github.com/phyboyzhang/testcases/tree/gem_summit_test

[2021-01-28 22:43] jycheng1989 commented on #104
I see. Thanks. @cwsmith

[2021-02-02 21:44] phyboyzhang commented on #104
I will investigate this bug.

[2021-02-22 16:17] phyboyzhang commented on #104
The problem is solved here:  https://github.com/phyboyzhang/wdmapp_coupling-1/tree/gemxgc2

[2021-02-22 16:17] #104 closed

[2021-02-22 17:40] cwsmith commented on #104
for the record, it is this commit: https://github.com/phyboyzhang/wdmapp_coupling-1/commit/959e22a8c09fcc015a203f262021a710df6d49cf

[2022-03-04 17:49] jacobmerson commented on #77
Closing due to coupler rewrite.

[2022-03-04 17:49] #77 closed

[2022-03-04 17:50] jacobmerson commented on #93
Closing due to coupler rewrite.

[2022-03-04 17:50] #93 closed

[2022-03-04 17:51] jacobmerson commented on #94
Closing due to coupler rewrite.

[2022-03-04 17:51] #94 closed

[2022-03-04 17:51] jacobmerson commented on #95
Closing due to coupler rewrite.

[2022-03-04 17:51] #95 closed

[2022-03-04 17:51] jacobmerson commented on #103
Closing due to coupler rewrite.

[2022-03-04 17:51] #103 closed

[2022-03-04 17:52] jacobmerson commented on #102
Closing due to coupler rewrite.

[2022-03-04 17:52] #102 closed

[2022-03-04 17:52] jacobmerson commented on #101
Closing due to coupler rewrite.

[2022-03-04 17:52] #101 closed

[2022-03-04 17:52] jacobmerson commented on #100
Closing due to coupler rewrite.

[2022-03-04 17:52] #100 closed

[2022-03-04 17:52] jacobmerson commented on #97
Closing due to coupler rewrite.

[2022-03-04 17:52] #97 closed

[2022-03-11 00:49] cwsmith opened #105 "ctest: portably running two mpi applications concurrently"
For testing rendezvous and an application coordinating with it ctest `execute_process` is being called with two `COMMAND`s here:

https://github.com/SCOREC/wdmapp_coupling/blob/31b75236b382765dd73d445f6933bad525d75270/cmake/runTwoMpiJobs.cmake#L6-L17

The call stack is listed below for reference.

This usage of `execute_process` was intended to be a mechanism to concurrently run multiple applicati

[2022-03-11 11:47] cwsmith opened #106 "ctest: use test fixtures to perform cleanup (remove bp files, etc.)"
See https://cmake.org/cmake/help/latest/prop_test/FIXTURES_REQUIRED.html

[2022-03-11 11:49] cwsmith commented on #106
nevermind... this is overkill - the cleanup function call to `removeBpFiles` is good enough and easy to read:

https://github.com/SCOREC/wdmapp_coupling/blob/bc2fce49b90892fe3d5a5a1a91d36731b3fb3c4a/test/CMakeLists.txt#L25-L31

[2022-03-11 11:49] #106 closed

[2022-06-16 16:10] jacobmerson opened #109 "Test case: verify omega_h/XGC node ordering"
We would like to use the geometric classification directly from the Omega_h mesh. Our understanding from @usmanriaz07 that the ordering of nodes will be consistent between Omega_h and the output of XGC.

To avoid a silently corrupted analysis we need to have an automated test case for this assumption in case the XGC devs change nodal ordering in the future.

[2022-06-20 17:41] cwsmith commented on #105
Using a bash script now https://github.com/SCOREC/wdmapp_coupling/blob/16eb43d30f8b7c39bb98bf6afbead537a68f48f8/ctest/runMultipleMpiJobs.sh ... gave up on portability.

[2022-06-20 17:41] #105 closed

[2022-07-01 03:17] jacobmerson opened #112 "Exceptions for Error handling"
In some ways the code we write isn't too sensitive to this since error handling typically means just crash if you did something dumb.

Since the APIs are much cleaner if we use function returns not for error codes, I would suggest that we make use of exceptions.

@cwsmith do you have strong feelings one way or another on this?

[2022-07-01 14:18] cwsmith commented on #112
Yeah, I don't think I've been involved with any package that 'tried' to do something knowing it may not work and attempt to recover from that failure.  Along those lines, I don't have any significant experience with error handling (beyond `asserts` etc.) so I'm pretty open to any option that is relatively simple to work with.

Do you have a small example of the exception based failure code?  I've

[2022-07-11 13:32] cwsmith opened #114 "test_twoClientOverlap: partitioning the server to 16 ranks"
Running the `test_twoClientOverlap` server with 16 ranks and following cpn file results in the assert `REDEV_ALWAYS_ASSERT(entToRank[ent] == owners[i]);` being triggered in append() in test_support.cpp:

https://github.com/SCOREC/wdmapp_coupling/blob/d17a306105a9f70de25cadbb8bd6145422d23c33/test/test_support.cpp#L159-L160

The failing check indicates that the model vertex and edge ownership, deriv

[2022-07-25 20:17] cwsmith commented on #114
A vtk written out before mesh element migration with the destination rank of each element attached as a tag seems looks OK.

![destRanks0-8](https://user-images.githubusercontent.com/1024438/180866459-e5c1a8fd-77ec-4151-a5df-df9269e9cff9.png)
![destRanks9-15](https://user-images.githubusercontent.com/1024438/180866460-68f15b98-67a4-4f39-8686-14bd393181fa.png)

Given that, there is either a problem

[2022-07-27 18:39] cwsmith commented on #114
https://github.com/SCOREC/wdmapp_coupling/commit/1973b4e96113f4d70e42d8b777bbca8a2afb7733 has a potential fix for the classification mismatch problem.  See the commit message for details.

A branch of redev containing a related change that eliminates unnecessary logic is here:
https://github.com/SCOREC/redev/commit/910cee87008ffa3ecfe76b1e00bcff66b13c6f5e

After the ranks of server compute the own

[2022-07-29 16:04] cwsmith commented on #114
Tests with 2, 4 and 8 rendezvous parts pass.  The added tests are here https://github.com/SCOREC/wdmapp_coupling/commit/c5aafca3695e423396a6d02f83655314c0e7061f and the input cpns here https://github.com/SCOREC/wdmapp_testcases/commit/09c25e8730921ab3a6ed69d896a654239653c639.

[2022-08-15 19:12] jacobmerson commented on #114
Interesting. Is it possible that the ownership of that ring is getting messed up during the partition process?

[2022-08-15 20:42] cwsmith commented on #114
Possibly, but I'm not seeing problems with it so far on the server side.  Given that, I think the problem is on the application/client side with the data behind the `GetRank()` query.

The (sorted) gids received on rank 11 of the server are below:

[code]

The single mesh vertex classified on a geometric model vertex is not included in the set of received gids on server rank 11.

![overlapGids_vtx

[2022-08-17 15:12] cwsmith commented on #114
The problem was resolved with https://github.com/SCOREC/wdmapp_coupling/commit/cbca4c1b9f69f8aaadccda8c097bab70d418ee6e and all tests are now passing.

A draft PR was just created; https://github.com/SCOREC/wdmapp_coupling/pull/117.  Once the debug stuff is removed up I'll make it a active PR (not a draft).

It adds the function `markServerOverlapRegion(...)` to mark mesh vertices in the overlap r

[2022-08-17 19:50] #114 closed

[2022-08-19 18:47] philip-davis opened #118 "installation of headers"
Public header `wdmcpl.h` includes several headers that aren't installed:

[code]

I have been working around this by adding:
[code]
to `src/CMakeLists.txt` to just wholesale copy the directory.

[2022-08-19 20:00] jacobmerson commented on #118
Thanks. I wasn't super careful about header installation (and I have been running tests w/o install). I will make sure to update the CMakeLists.txt

[2022-09-06 14:57] jacobmerson opened #120 "Remove "Partition" from ClientCoupler"
The CouplerServer should send a message specifying the type of the partition so that the client can initialize the correct type of partition. This will remove one area where there could accidentally be a mismatch between specification on server and client since it requires apriori manual specification.